<b>Initial Setup<b>

In [157]:
# import dependencies
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager

<b>Web Scrape From Each City Bike Share Program Site<b>

# *Toronto Price Index*

In [158]:
# Get URL
url = 'https://bikesharetoronto.com/pricing/'
response1 = requests.get(url)

In [159]:
# Parse Info with BeautifulSoup
response1 = requests.get(url)
soup = bs(response1.content, 'lxml')
divs = soup.find_all('div', class_='fl-rich-text')

In [160]:
# Create loop to scrape pricing index and memebership type
ls= []
for i in divs:
    try:
        print(i.find('h1').text)
        ls.append(i.find('h1').text)
        
    except:
        pass
ls

Pricing
Annual Membership $99
72 HOUR ACCESS PASS $15
24 HOUR ACCESS PASS $7
Single Trip For $3.25
OVERAGE FEES: $4 for every extra 30 minutes.

['Pricing',
 'Annual Membership $99\xa0',
 '72 HOUR ACCESS PASS $15',
 '24 HOUR ACCESS PASS $7',
 'Single Trip For $3.25',
 'OVERAGE FEES: $4 for every extra 30 minutes.']

In [161]:
#Creating Toronto Dataframe
Toronto_df = pd.DataFrame(ls)

In [162]:
#Drop unncessary rows
Toronto =Toronto_df.drop([0])

In [163]:
# Extract amount
Toronto['Price'] = Toronto[0].str.extract('(\$[0-9,.]+)')
Toronto[0] = Toronto[0].str.replace('(\$[0-9,.]+)', '')
Toronto = Toronto.rename(columns={0:'plan', 'Price':'amount'})

In [164]:
#Adding Columns
Toronto = Toronto.assign(location_id=1)
x =["Annual Member","Casual Member","Casual Member","Casual Member","Casual Member"]
Toronto["member_type"]=x

In [165]:
# Rearranging columns
Toronto= Toronto[["location_id","member_type","plan","amount"]]
Toronto

,location_id,member_type,plan,amount
1,1,Annual Member,Annual Membership,$99
2,1,Casual Member,72 HOUR ACCESS PASS,$15
3,1,Casual Member,24 HOUR ACCESS PASS,$7
4,1,Casual Member,Single Trip For,$3.25
5,1,Casual Member,OVERAGE FEES: for every extra 30 minutes.,$4

# *Vancouver Price Index*

In [166]:
# Get URL
url = 'https://www.mobibikes.ca/en/offers-subscription'
response2 = requests.get(url)

In [167]:
# Parse Info with BeautifulSoup
response2 = requests.get(url)
soup = bs(response2.content, 'lxml')
span1 = soup.find_all('span', class_='prix')

In [168]:
span2 = soup.find_all('div', class_='views-field views-field-title')

In [169]:
# Create loop to scrape pricing index for membership type
price =[]
for i in span1:
    try:
        print(i.text)
        price.append(i.text)
    
    except:
        pass
price

$12
$25
$129
$159
$
$

['$12', '$25', '$129', '$159', '$', '$']

In [170]:
# Create loop to scrape pricing index
ls= []

for i in span2:
    try:
        print(i.text)
        ls.append(i.text)
    except:
        pass
    
ls

 24 Hour Pass
 30 Day Pass
 365 Day Pass Standard
 365 Day Pass Plus
 365 Day Corporate Pass Standard
 365 Day Corporate Pass Plus

[' 24 Hour Pass ',
 ' 30 Day Pass ',
 ' 365 Day Pass Standard ',
 ' 365 Day Pass Plus ',
 ' 365 Day Corporate Pass Standard ',
 ' 365 Day Corporate Pass Plus ']

In [171]:
#Creating Vancouver Dataframe
Vancouver_df = pd.DataFrame({"member_type":ls,"plan":ls,"amount":price})
Vancouver_df = Vancouver_df.assign(location_id=2)

In [172]:
# Rearranging columns
Vancouver_df = Vancouver_df [["location_id","member_type","plan","amount"]]
Vancouver_df

,location_id,member_type,plan,amount
0,2,24 Hour Pass,24 Hour Pass,$12
1,2,30 Day Pass,30 Day Pass,$25
2,2,365 Day Pass Standard,365 Day Pass Standard,$129
3,2,365 Day Pass Plus,365 Day Pass Plus,$159
4,2,365 Day Corporate Pass Standard,365 Day Corporate Pass Standard,$
5,2,365 Day Corporate Pass Plus,365 Day Corporate Pass Plus,$

# *Boston Price Index*

In [173]:
# Get URL
url = 'https://www.bluebikes.com/pricing'
response3 = requests.get(url)

In [174]:
# Parse Info with BeautifulSoup
response3 = requests.get(url)
soup = bs(response3.content, 'lxml')
divs = soup.find_all('div', class_='spacing--one-and-half--above-xlarge')

In [175]:
membership_type = soup.find_all('h2')
membership_type[1].text

'Annual Membership'

In [176]:
pricing = soup.find_all('p', class_='type-alpha--m')
pricing[1].text

'$10/month'

In [177]:
# Create loop to scrape pricing index for membership type
bm= []

for i in membership_type:
    try:
        print(i.text)
        bm.append(i.text)
    except:
        pass
    
bm

Monthly Membership
Annual Membership
Annual Membership
More Options

['Monthly Membership',
 'Annual Membership',
 'Annual Membership',
 'More Options']

In [178]:
bm.pop(3)

'More Options'

In [179]:
boston_df = pd.DataFrame(bm)
boston_df

                    0
0  Monthly Membership
1   Annual Membership
2   Annual Membership

In [180]:
# Create loop to scrape pricing index
bw= []

for i in pricing:
    try:
        print(i.text)
        bw.append(i.text)
    except:
        pass
    
bw

$20/month
$10/month
$8.25/month

['$20/month', '$10/month', '$8.25/month']

In [181]:
boston_df = pd.DataFrame(bw)
boston_df

             0
0    $20/month
1    $10/month
2  $8.25/month

In [182]:
#Creating Boston Dataframe
y =["Customer","Subscriber","Subscriber"]
boston_df["member_type"]=y
boston_df = pd.DataFrame({"member_type":y,"plan":bm,"amount":bw})
boston_df = boston_df.assign(location_id=3)

In [183]:
# Rearranging columns
boston_df = boston_df [["location_id","member_type","plan","amount"]]
boston_df

   location_id member_type                plan       amount
0            3    Customer  Monthly Membership    $20/month
1            3  Subscriber   Annual Membership    $10/month
2            3  Subscriber   Annual Membership  $8.25/month

In [184]:
#Extract amount
boston_df['Price'] = boston_df["amount"].str.extract('(\$[0-9,.]+)')
# boston_df["amount"] = boston_df["amount"].str.replace('(\$[0-9,.]+)', '')
boston_df = boston_df.rename(columns={'amount':'usage', 'Price':'amount'})
boston_df

   location_id member_type                plan        usage amount
0            3    Customer  Monthly Membership    $20/month    $20
1            3  Subscriber   Annual Membership    $10/month    $10
2            3  Subscriber   Annual Membership  $8.25/month  $8.25

In [185]:
#Drop Columns
boston_df= boston_df.drop(columns=["usage"])

# *New York Price Index*

In [186]:
# Get URL
url = 'https://www.citibikenyc.com/pricing'
response4 = requests.get(url)

In [187]:
# Parse Info with BeautifulSoup
response4 = requests.get(url)
soup = bs(response4.content, 'lxml')
divs = soup.find_all('div', class_='spacing--one-and-half--above-xlarge')

In [188]:
membership_type = soup.find_all('h2')
membership_type[1].text

'Day Pass'

In [189]:
pricing = soup.find_all('p', class_='type-alpha--m text-color--white')
pricing[1].text

'$15/day'

In [ ]:
# Create loop to scrape pricing index for membership type
nn=[]

for i in membership_type:
    try:
        print(i.text)
        nn.append(i.text)
    except:
        pass
nn

In [135]:
nn.pop(3)

'More Options'

In [136]:
Newyork_df = pd.DataFrame(nn)
Newyork_df

                   0
0        Single Ride
1           Day Pass
2  Annual Membership

In [137]:
# Create loop to scrape pricing index
ns=[]
for i in pricing:
    try:
        print(i.text)
        ns.append(i.text)
    except:
        pass
ns

$3/trip
$15/day

['$3/trip', '$15/day']

In [138]:
#Creating New_york Dataframe
z =["Customer","Customer","Subscriber"]
Newyork_df["member_type"]=z
original = pd.DataFrame({"member_type":z, "plan":nn})
additional = pd.DataFrame({"amount":ns})
Newyork_df = pd.concat([original, additional], axis=1)
Newyork_df = Newyork_df.assign(location_id=4)
Newyork_df

  member_type               plan   amount  location_id
0    Customer        Single Ride  $3/trip            4
1    Customer           Day Pass  $15/day            4
2  Subscriber  Annual Membership      NaN            4

In [139]:
# Rearranging columns
Newyork_df = Newyork_df [["location_id","member_type","plan","amount"]]
Newyork_df

   location_id member_type               plan   amount
0            4    Customer        Single Ride  $3/trip
1            4    Customer           Day Pass  $15/day
2            4  Subscriber  Annual Membership      NaN

In [147]:
Newyork_df ['Price'] = Newyork_df["amount"].str.extract('(\$[0-9,.]+)')
# boston_df["amount"] = boston_df["amount"].str.replace('(\$[0-9,.]+)', '')
Newyork_df= Newyork_df.rename(columns={'amount':'usage', 'Price':'amount'})
Newyork_df

   location_id member_type               plan usage amount
0            4    Customer        Single Ride    $3     $3
1            4    Customer           Day Pass   $15    $15
2            4  Subscriber  Annual Membership   NaN    NaN

In [141]:
#Drop Columns
Newyork_df = Newyork_df.drop(columns=["usage"])

<b>Dataframe for each City Price Index<b>

In [155]:
# Create a DF of Toronto, Vancouver, Boston, & New York
city_bike = [Toronto,Vancouver_df,boston_df,Newyork_df]
price_index = pd.concat(city_bike)
price_index

,location_id,member_type,plan,amount,usage
1,1,Annual Member,Annual Membership,$99,NaN
2,1,Casual Member,72 HOUR ACCESS PASS,$15,NaN
3,1,Casual Member,24 HOUR ACCESS PASS,$7,NaN
4,1,Casual Member,Single Trip For,$3.25,NaN
5,1,Casual Member,OVERAGE FEES: for every extra 30 minutes.,$4,NaN
0,2,24 Hour Pass,24 Hour Pass,$12,NaN
1,2,30 Day Pass,30 Day Pass,$25,NaN
2,2,365 Day Pass Standard,365 Day Pass Standard,$129,NaN
3,2,365 Day Pass Plus,365 Day Pass Plus,$159,NaN
4,2,365 Day Corporate Pass Standard,365 Day Corporate Pass Standard,$,NaN
5,2,365 Day Corporate Pass Plus,365 Day Corporate Pass Plus,$,NaN
0,3,Customer,Monthly Membership,$20,NaN
1,3,Subscriber,Annual Membership,$10,NaN
2,3,Subscriber,Annual Membership,$8.25,NaN
0,4,Customer,Single Ride,$3,$3
1,4,Customer,Day Pass,$15,$15
2,4,Subscriber,Annual Membership,NaN,NaN

In [156]:
price_index['amount']=price_index['amount'].str.replace("$"," ")
price_index

,location_id,member_type,plan,amount,usage
1,1,Annual Member,Annual Membership,99,NaN
2,1,Casual Member,72 HOUR ACCESS PASS,15,NaN
3,1,Casual Member,24 HOUR ACCESS PASS,7,NaN
4,1,Casual Member,Single Trip For,3.25,NaN
5,1,Casual Member,OVERAGE FEES: for every extra 30 minutes.,4,NaN
0,2,24 Hour Pass,24 Hour Pass,12,NaN
1,2,30 Day Pass,30 Day Pass,25,NaN
2,2,365 Day Pass Standard,365 Day Pass Standard,129,NaN
3,2,365 Day Pass Plus,365 Day Pass Plus,159,NaN
4,2,365 Day Corporate Pass Standard,365 Day Corporate Pass Standard,,NaN
5,2,365 Day Corporate Pass Plus,365 Day Corporate Pass Plus,,NaN
0,3,Customer,Monthly Membership,20,NaN
1,3,Subscriber,Annual Membership,10,NaN
2,3,Subscriber,Annual Membership,8.25,NaN
0,4,Customer,Single Ride,3,$3
1,4,Customer,Day Pass,15,$15
2,4,Subscriber,Annual Membership,NaN,NaN

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [150]:
price_index

,location_id,member_type,plan,amount
1,1,Annual Member,Annual Membership,99
2,1,Casual Member,72 HOUR ACCESS PASS,15
3,1,Casual Member,24 HOUR ACCESS PASS,7
4,1,Casual Member,Single Trip For,3.25
5,1,Casual Member,OVERAGE FEES: for every extra 30 minutes.,4
0,2,24 Hour Pass,24 Hour Pass,12
1,2,30 Day Pass,30 Day Pass,25
2,2,365 Day Pass Standard,365 Day Pass Standard,129
3,2,365 Day Pass Plus,365 Day Pass Plus,159
4,2,365 Day Corporate Pass Standard,365 Day Corporate Pass Standard,
5,2,365 Day Corporate Pass Plus,365 Day Corporate Pass Plus,
0,3,Customer,Monthly Membership,20
1,3,Subscriber,Annual Membership,10
2,3,Subscriber,Annual Membership,8.25
0,4,Customer,Single Ride,3
1,4,Customer,Day Pass,15
2,4,Subscriber,Annual Membership,NaN