<b>Initial Setup<b>

In [146]:
# import dependencies
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager

<b>Web Scrape From Each City Bike Share Program Site<b>

# *Toronto Price Index*

In [147]:
# Get URL
url = 'https://bikesharetoronto.com/pricing/'
response1 = requests.get(url)

In [148]:
# Parse Info with BeautifulSoup
response1 = requests.get(url)
soup = bs(response1.content, 'lxml')
divs = soup.find_all('div', class_='fl-rich-text')

In [149]:
# Create loop to scrape pricing index and memebership type
ls= []
for i in divs:
    try:
        print(i.find('h1').text)
        ls.append(i.find('h1').text)
        
    except:
        pass
ls

Pricing
Annual Membership $99
72 HOUR ACCESS PASS $15
24 HOUR ACCESS PASS $7
Single Trip For $3.25
OVERAGE FEES: $4 for every extra 30 minutes.

['Pricing',
 'Annual Membership $99\xa0',
 '72 HOUR ACCESS PASS $15',
 '24 HOUR ACCESS PASS $7',
 'Single Trip For $3.25',
 'OVERAGE FEES: $4 for every extra 30 minutes.']

In [150]:
#Creating Toronto Dataframe
Toronto_df = pd.DataFrame(ls)
Toronto_df

                                              0
0                                       Pricing
1                        Annual Membership $99
2                       72 HOUR ACCESS PASS $15
3                        24 HOUR ACCESS PASS $7
4                         Single Trip For $3.25
5  OVERAGE FEES: $4 for every extra 30 minutes.

# *Vancouver Price Index*

In [151]:
# Get URL
url = 'https://www.mobibikes.ca/en/offers-subscription'
response2 = requests.get(url)

In [152]:
# Parse Info with BeautifulSoup
response2 = requests.get(url)
soup = bs(response2.content, 'lxml')
span1 = soup.find_all('span', class_='prix')

In [153]:
span2 = soup.find_all('div', class_='views-field views-field-title')

In [154]:
# Create loop to scrape pricing index for membership type
for i in span1:
    try:
        print(i.text)
    except:
        pass

$12
$25
$129
$159
$
$

In [155]:
# Create loop to scrape pricing index
ls= []

for i in span2:
    try:
        print(i.text)
        ls.append(i.text)
    except:
        pass
    
ls

 24 Hour Pass
 30 Day Pass
 365 Day Pass Standard
 365 Day Pass Plus
 365 Day Corporate Pass Standard
 365 Day Corporate Pass Plus

[' 24 Hour Pass ',
 ' 30 Day Pass ',
 ' 365 Day Pass Standard ',
 ' 365 Day Pass Plus ',
 ' 365 Day Corporate Pass Standard ',
 ' 365 Day Corporate Pass Plus ']

In [156]:
#Creating Vancouver Dataframe
Vancouver_df = pd.DataFrame(ls)
Vancouver_df

                                   0
0                      24 Hour Pass
1                       30 Day Pass
2             365 Day Pass Standard
3                 365 Day Pass Plus
4   365 Day Corporate Pass Standard
5       365 Day Corporate Pass Plus

# *Boston Price Index*

In [157]:
# Get URL
url = 'https://www.bluebikes.com/pricing'
response3 = requests.get(url)

In [158]:
# Parse Info with BeautifulSoup
response3 = requests.get(url)
soup = bs(response3.content, 'lxml')
divs = soup.find_all('div', class_='spacing--one-and-half--above-xlarge')

In [159]:
membership_type = soup.find_all('h2')
membership_type[1].text

'Annual Membership'

In [160]:
pricing = soup.find_all('p', class_='type-alpha--m')
pricing[1].text

'$10/month'

In [161]:
# Create loop to scrape pricing index for membership type
for i in membership_type:
    try:
        print(i.text)
    except:
        pass

Monthly Membership
Annual Membership
Annual Membership
More Options

In [162]:
# Create loop to scrape pricing index
ls= []
for i in pricing:
    try:
        print(i.text)
        ls.append(i.text)
    except:
        pass
ls

$20/month
$10/month
$8.25/month

['$20/month', '$10/month', '$8.25/month']

In [163]:
#Creating Boston Dataframe
Boston_df = pd.DataFrame(ls)
Boston_df

             0
0    $20/month
1    $10/month
2  $8.25/month

# *New York Price Index*

In [164]:
# Get URL
url = 'https://www.citibikenyc.com/pricing'
response4 = requests.get(url)

In [165]:
# Parse Info with BeautifulSoup
response4 = requests.get(url)
soup = bs(response4.content, 'lxml')
divs = soup.find_all('div', class_='spacing--one-and-half--above-xlarge')

In [166]:
membership_type = soup.find_all('h2')
membership_type[1].text

'Day Pass'

In [167]:
pricing = soup.find_all('p', class_='type-alpha--m text-color--white')
pricing[1].text

'$15/day'

In [168]:
# Create loop to scrape pricing index for membership type
for i in membership_type:
    try:
        print(i.text)
    except:
        pass

Single Ride
Day Pass
Annual Membership
More Options

In [169]:
# Create loop to scrape pricing index
ls=[]
for i in pricing:
    try:
        print(i.text)
        ls.append(i.text)
    except:
        pass
ls

$3/trip
$15/day

['$3/trip', '$15/day']

In [170]:
#Creating Boston Dataframe
NewYork_df = pd.DataFrame(ls)
NewYork_df

         0
0  $3/trip
1  $15/day

<b>Dataframe for each City Price Index<b>

In [ ]:
# Create a DF of Toronto, Vancouver, Boston, & New York
price_index = pd.DataFrame({})
price_index