<b>Initial Setup<b>

In [1]:
# import dependencies
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager

<b>Web Scrape From Each City Bike Share Program Site<b>

# *Toronto Price Index*

In [2]:
# Get URL
url = 'https://bikesharetoronto.com/pricing/'
response1 = requests.get(url)

In [3]:
# Parse Info with BeautifulSoup
response1 = requests.get(url)
soup = bs(response1.content, 'lxml')
divs = soup.find_all('div', class_='fl-rich-text')

In [4]:
# Create loop to scrape pricing index and memebership type
ls= []
for i in divs:
    try:
        print(i.find('h1').text)
        ls.append(i.find('h1').text)
        
    except:
        pass
ls

Pricing
Annual Membership $99
72 HOUR ACCESS PASS $15
24 HOUR ACCESS PASS $7
Single Trip For $3.25
OVERAGE FEES: $4 for every extra 30 minutes.

['Pricing',
 'Annual Membership $99\xa0',
 '72 HOUR ACCESS PASS $15',
 '24 HOUR ACCESS PASS $7',
 'Single Trip For $3.25',
 'OVERAGE FEES: $4 for every extra 30 minutes.']

In [5]:
#Creating Toronto Dataframe
Toronto_df = pd.DataFrame(ls)

In [6]:
#Drop unncessary rows
Toronto =Toronto_df.drop([0])

In [7]:
# Extract amount
Toronto['Price'] = Toronto[0].str.extract('(\$[0-9,.]+)')
Toronto[0] = Toronto[0].str.replace('(\$[0-9,.]+)', '')
Toronto = Toronto.rename(columns={0:'plan', 'Price':'amount'})

In [8]:
#Adding Columns
Toronto = Toronto.assign(location_id=1)
x =["Annual Member","Casual Member","Casual Member","Casual Member","Casual Member"]
Toronto["member_type"]=x

In [9]:
# Rearranging columns
Toronto= Toronto[["location_id","member_type","plan","amount"]]
Toronto

,location_id,member_type,plan,amount
1,1,Annual Member,Annual Membership,$99
2,1,Casual Member,72 HOUR ACCESS PASS,$15
3,1,Casual Member,24 HOUR ACCESS PASS,$7
4,1,Casual Member,Single Trip For,$3.25
5,1,Casual Member,OVERAGE FEES: for every extra 30 minutes.,$4

# *Vancouver Price Index*

In [10]:
# Get URL
url = 'https://www.mobibikes.ca/en/offers-subscription'
response2 = requests.get(url)

In [11]:
# Parse Info with BeautifulSoup
response2 = requests.get(url)
soup = bs(response2.content, 'lxml')
span1 = soup.find_all('span', class_='prix')

In [12]:
span2 = soup.find_all('div', class_='views-field views-field-title')

In [13]:
# Create loop to scrape pricing index for membership type
price =[]
for i in span1:
    try:
        print(i.text)
        price.append(i.text)
    
    except:
        pass
price

$12
$25
$129
$159
$
$

['$12', '$25', '$129', '$159', '$', '$']

In [14]:
# Create loop to scrape pricing index
ls= []

for i in span2:
    try:
        print(i.text)
        ls.append(i.text)
    except:
        pass
    
ls

 24 Hour Pass
 30 Day Pass
 365 Day Pass Standard
 365 Day Pass Plus
 365 Day Corporate Pass Standard
 365 Day Corporate Pass Plus

[' 24 Hour Pass ',
 ' 30 Day Pass ',
 ' 365 Day Pass Standard ',
 ' 365 Day Pass Plus ',
 ' 365 Day Corporate Pass Standard ',
 ' 365 Day Corporate Pass Plus ']

In [15]:
#Creating Vancouver Dataframe
Vancouver_df = pd.DataFrame({"member_type":ls,"plan":ls,"amount":price})
Vancouver_df = Vancouver_df.assign(location_id=2)

In [16]:
# Rearranging columns
Vancouver_df = Vancouver_df [["location_id","member_type","plan","amount"]]
Vancouver_df

,location_id,member_type,plan,amount
0,2,24 Hour Pass,24 Hour Pass,$12
1,2,30 Day Pass,30 Day Pass,$25
2,2,365 Day Pass Standard,365 Day Pass Standard,$129
3,2,365 Day Pass Plus,365 Day Pass Plus,$159
4,2,365 Day Corporate Pass Standard,365 Day Corporate Pass Standard,$
5,2,365 Day Corporate Pass Plus,365 Day Corporate Pass Plus,$

# *Boston Price Index*

In [17]:
# Get URL
url = 'https://www.bluebikes.com/pricing'
response3 = requests.get(url)

In [18]:
# Parse Info with BeautifulSoup
response3 = requests.get(url)
soup = bs(response3.content, 'lxml')
divs = soup.find_all('div', class_='spacing--one-and-half--above-xlarge')

In [19]:
membership_type = soup.find_all('h2')
membership_type[1].text

'Annual Membership'

In [20]:
pricing = soup.find_all('p', class_='type-alpha--m')
pricing[1].text

'$10/month'

In [21]:
# Create loop to scrape pricing index for membership type
bm= []

for i in membership_type:
    try:
        print(i.text)
        bm.append(i.text)
    except:
        pass
    
bm

Monthly Membership
Annual Membership
Annual Membership
More Options

['Monthly Membership',
 'Annual Membership',
 'Annual Membership',
 'More Options']

In [22]:
#Drop item from list
bm.pop(3)

'More Options'

In [23]:
boston_df = pd.DataFrame(bm)
boston_df

                    0
0  Monthly Membership
1   Annual Membership
2   Annual Membership

In [24]:
# Create loop to scrape pricing index
bw= []

for i in pricing:
    try:
        print(i.text)
        bw.append(i.text)
    except:
        pass
    
bw

$20/month
$10/month
$8.25/month

['$20/month', '$10/month', '$8.25/month']

In [25]:
boston_df = pd.DataFrame(bw)
boston_df

             0
0    $20/month
1    $10/month
2  $8.25/month

In [26]:
#Creating Boston Dataframe
y =["Customer","Subscriber","Subscriber"]
boston_df["member_type"]=y
boston_df = pd.DataFrame({"member_type":y,"plan":bm,"amount":bw})
boston_df = boston_df.assign(location_id=3)

In [27]:
# Rearranging columns
boston_df = boston_df [["location_id","member_type","plan","amount"]]
boston_df

   location_id member_type                plan       amount
0            3    Customer  Monthly Membership    $20/month
1            3  Subscriber   Annual Membership    $10/month
2            3  Subscriber   Annual Membership  $8.25/month

In [28]:
#Extract amount
boston_df['Price'] = boston_df["amount"].str.extract('(\$[0-9,.]+)')
boston_df = boston_df.rename(columns={'amount':'usage', 'Price':'amount'})

In [29]:
#Drop Columns
boston_df= boston_df.drop(columns=["usage"])

# *New York Price Index*

In [30]:
# Get URL
url = 'https://www.citibikenyc.com/pricing'
response4 = requests.get(url)

In [31]:
# Parse Info with BeautifulSoup
response4 = requests.get(url)
soup = bs(response4.content, 'lxml')
divs = soup.find_all('div', class_='spacing--one-and-half--above-xlarge')

In [32]:
membership_type = soup.find_all('h2')
membership_type[1].text

'Day Pass'

In [33]:
pricing = soup.find_all('p', class_='type-alpha--m text-color--white')
pricing[1].text

'$15/day'

In [34]:
# Create loop to scrape pricing index for membership type
nn=[]

for i in membership_type:
    try:
        print(i.text)
        nn.append(i.text)
    except:
        pass
nn

Single Ride
Day Pass
Annual Membership
More Options

['Single Ride', 'Day Pass', 'Annual Membership', 'More Options']

In [35]:
#Drop item from list
nn.pop(3)

'More Options'

In [36]:
Newyork_df = pd.DataFrame(nn)
Newyork_df

                   0
0        Single Ride
1           Day Pass
2  Annual Membership

In [37]:
# Create loop to scrape pricing index
ns=[]
for i in pricing:
    try:
        print(i.text)
        ns.append(i.text)
    except:
        pass
ns

$3/trip
$15/day

['$3/trip', '$15/day']

In [41]:
#Creating New_york Dataframe
z =["Customer","Customer","Subscriber"]
Newyork_df["member_type"]=z
original = pd.DataFrame({"member_type":z, "plan":nn})
additional = pd.DataFrame({"amount":ns})
Newyork_df = pd.concat([original, additional], axis=1)
Newyork_df = Newyork_df.assign(location_id=4)
Newyork_df

ValueError: Length of values does not match length of index

In [42]:
# Rearranging columns
Newyork_df = Newyork_df [["location_id","member_type","plan","amount"]]
Newyork_df

KeyError: "None of [Index(['location_id', 'member_type', 'plan', 'amount'], dtype='object')] are in the [columns]"

In [ ]:
#Extract amount
Newyork_df ['Price'] = Newyork_df["amount"].str.extract('(\$[0-9,.]+)')
Newyork_df= Newyork_df.rename(columns={'amount':'usage', 'Price':'amount'})

In [ ]:
#Drop Columns
Newyork_df = Newyork_df.drop(columns=["usage"])

<b>Dataframe for each City Price Index<b>

In [ ]:
# Create a DF of Toronto, Vancouver, Boston, & New York
city_bike = [Toronto,Vancouver_df,boston_df,Newyork_df]
price_index = pd.concat(city_bike)
price_index

In [ ]:
price_index['amount']=price_index['amount'].str.replace("$"," ")
price_index