<b>Initial Setup<b>

In [1]:
# import dependencies
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager

<b>Web Scrape From Each City Bike Share Program Site<b>

# *Toronto Price Index*

In [2]:
# Get URL
url = 'https://bikesharetoronto.com/pricing/'
response1 = requests.get(url)

In [3]:
# Parse Info with BeautifulSoup
response1 = requests.get(url)
soup = bs(response1.content, 'lxml')
divs = soup.find_all('div', class_='fl-rich-text')

In [4]:
# Create loop to scrape pricing index and memebership type
ls= []
for i in divs:
    try:
        print(i.find('h1').text)
        ls.append(i.find('h1').text)
        
    except:
        pass
ls

Pricing
Annual Membership $99
72 HOUR ACCESS PASS $15
24 HOUR ACCESS PASS $7
Single Trip For $3.25
OVERAGE FEES: $4 for every extra 30 minutes.

['Pricing',
 'Annual Membership $99\xa0',
 '72 HOUR ACCESS PASS $15',
 '24 HOUR ACCESS PASS $7',
 'Single Trip For $3.25',
 'OVERAGE FEES: $4 for every extra 30 minutes.']

In [5]:
#Creating Toronto Dataframe
Toronto_df = pd.DataFrame(ls)

In [6]:
Toronto =Toronto_df.drop([0])

In [7]:
# Extract amount
Toronto['Price'] = Toronto[0].str.extract('(\$[0-9,.]+)')
Toronto[0] = Toronto[0].str.replace('(\$[0-9,.]+)', '')
Toronto = Toronto.rename(columns={0:'plan', 'Price':'amount'})

In [8]:
#Adding Columns
Toronto = Toronto.assign(location_id=1)
x =["Annual Member","Casual Member","Casual Member","Casual Member","Casual Member"]
Toronto["member_type"]=x

In [9]:
# Rearranging columns
Toronto= Toronto[["location_id","member_type","plan","amount"]]
Toronto

,location_id,member_type,plan,amount
1,1,Annual Member,Annual Membership,$99
2,1,Casual Member,72 HOUR ACCESS PASS,$15
3,1,Casual Member,24 HOUR ACCESS PASS,$7
4,1,Casual Member,Single Trip For,$3.25
5,1,Casual Member,OVERAGE FEES: for every extra 30 minutes.,$4

# *Vancouver Price Index*

In [10]:
# Get URL
url = 'https://www.mobibikes.ca/en/offers-subscription'
response2 = requests.get(url)

In [11]:
# Parse Info with BeautifulSoup
response2 = requests.get(url)
soup = bs(response2.content, 'lxml')
span1 = soup.find_all('span', class_='prix')

In [12]:
span2 = soup.find_all('div', class_='views-field views-field-title')

In [13]:
# Create loop to scrape pricing index for membership type
price =[]
for i in span1:
    try:
        print(i.text)
        price.append(i.text)
    
    except:
        pass
price

$12
$25
$129
$159
$
$

['$12', '$25', '$129', '$159', '$', '$']

In [14]:
# Create loop to scrape pricing index
ls= []

for i in span2:
    try:
        print(i.text)
        ls.append(i.text)
    except:
        pass
    
ls

 24 Hour Pass
 30 Day Pass
 365 Day Pass Standard
 365 Day Pass Plus
 365 Day Corporate Pass Standard
 365 Day Corporate Pass Plus

[' 24 Hour Pass ',
 ' 30 Day Pass ',
 ' 365 Day Pass Standard ',
 ' 365 Day Pass Plus ',
 ' 365 Day Corporate Pass Standard ',
 ' 365 Day Corporate Pass Plus ']

In [15]:
#Creating Vancouver Dataframe
Vancouver_df = pd.DataFrame({"member_type":ls,"plan":ls,"amount":price})
Vancouver_df = Vancouver_df.assign(location_id=2)

In [16]:
# Rearranging columns
Vancouver_df = Vancouver_df [["location_id","member_type","plan","amount"]]
Vancouver_df

,location_id,member_type,plan,amount
0,2,24 Hour Pass,24 Hour Pass,$12
1,2,30 Day Pass,30 Day Pass,$25
2,2,365 Day Pass Standard,365 Day Pass Standard,$129
3,2,365 Day Pass Plus,365 Day Pass Plus,$159
4,2,365 Day Corporate Pass Standard,365 Day Corporate Pass Standard,$
5,2,365 Day Corporate Pass Plus,365 Day Corporate Pass Plus,$

# *Boston Price Index*

In [57]:
# Get URL
url = 'https://www.bluebikes.com/pricing'
response3 = requests.get(url)

In [58]:
# Parse Info with BeautifulSoup
response3 = requests.get(url)
soup = bs(response3.content, 'lxml')
divs = soup.find_all('div', class_='spacing--one-and-half--above-xlarge')

In [59]:
membership_type = soup.find_all('h2')
membership_type[1].text

'Annual Membership'

In [60]:
pricing = soup.find_all('p', class_='type-alpha--m')
pricing[1].text

'$10/month'

In [61]:
# Create loop to scrape pricing index for membership type
b1=[]
for i in membership_type:
    try:
        print(i.text)
        b1.append(i.text)
    except:
        pass
b1

Monthly Membership
Annual Membership
Annual Membership
More Options

['Monthly Membership',
 'Annual Membership',
 'Annual Membership',
 'More Options']

In [62]:
Boston_df= pd.DataFrame(b1)
Boston_df

                    0
0  Monthly Membership
1   Annual Membership
2   Annual Membership
3        More Options

In [63]:
# Create loop to scrape pricing index
b2= []
for i in pricing:
    try:
        print(i.text)
        b2.append(i.text)
    except:
        pass
b2

$20/month
$10/month
$8.25/month

['$20/month', '$10/month', '$8.25/month']

In [64]:
Boston_df= pd.DataFrame(b2)
Boston_df

             0
0    $20/month
1    $10/month
2  $8.25/month

In [76]:
Boston

   location_id member_type                                        plan amount
1            3    Customer                         Annual Membership      $99
2            3  Subscriber                        72 HOUR ACCESS PASS     $15
3            3  Subscriber                        24 HOUR ACCESS PASS      $7
4            3  Subscriber                            Single Trip For   $3.25
5            3  Subscriber  OVERAGE FEES:  for every extra 30 minutes.     $4

# *New York Price Index*

In [25]:
# Get URL
url = 'https://www.citibikenyc.com/pricing'
response4 = requests.get(url)

In [26]:
# Parse Info with BeautifulSoup
response4 = requests.get(url)
soup = bs(response4.content, 'lxml')
divs = soup.find_all('div', class_='spacing--one-and-half--above-xlarge')

In [27]:
membership_type = soup.find_all('h2')
membership_type[1].text

'Day Pass'

In [28]:
pricing = soup.find_all('p', class_='type-alpha--m text-color--white')
pricing[1].text

'$15/day'

In [29]:
# Create loop to scrape pricing index for membership type
nn=[]
for i in membership_type:
    try:
        print(i.text)
        nn.append(i.text)
    except:
        pass
nn

Single Ride
Day Pass
Annual Membership
More Options

['Single Ride', 'Day Pass', 'Annual Membership', 'More Options']

In [30]:
# Create loop to scrape pricing index
ns=[]
for i in pricing:
    try:
        print(i.text)
        ns.append(i.text)
    except:
        pass
ns

$3/trip
$15/day

['$3/trip', '$15/day']

In [ ]:
#Creating Boston Dataframe

<b>Dataframe for each City Price Index<b>

In [ ]:
# Create a DF of Toronto, Vancouver, Boston, & New York
city_bike = [Toronto,Boston_df,NewYork_df,Vancouver_df]
bike_share = pd.concat(city_bike)
bike_share