<b>Initial Setup<b>

In [29]:
# import dependencies
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager

<b>Web Scrape From Each City Bike Share Program Site<b>

# *Toronto Price Index*

In [68]:
# Get URL
url = 'https://bikesharetoronto.com/pricing/'
response1 = requests.get(url)

In [69]:
# Parse Info with BeautifulSoup
response1 = requests.get(url)
soup = bs(response1.content, 'lxml')
divs = soup.find_all('div', class_='fl-rich-text')

In [70]:
# Create loop to scrape pricing index and memebership type
ls= []
for i in divs:
    try:
        print(i.find('h1').text)
        ls.append(i.find('h1').text)
        
    except:
        pass
ls

Pricing
Annual Membership $99
72 HOUR ACCESS PASS $15
24 HOUR ACCESS PASS $7
Single Trip For $3.25
OVERAGE FEES: $4 for every extra 30 minutes.

['Pricing',
 'Annual Membership $99\xa0',
 '72 HOUR ACCESS PASS $15',
 '24 HOUR ACCESS PASS $7',
 'Single Trip For $3.25',
 'OVERAGE FEES: $4 for every extra 30 minutes.']

In [71]:
#Creating Toronto Dataframe
Toronto_df = pd.DataFrame(ls)

In [72]:
Toronto =Toronto_df.drop([0])

In [73]:
# Extract amount
Toronto['Price'] = Toronto[0].str.extract('(\$[0-9,.]+)')
Toronto[0] = Toronto[0].str.replace('(\$[0-9,.]+)', '')
Toronto = Toronto.rename(columns={0:'plan', 'Price':'amount'})

In [74]:
#Adding Columns
Toronto = Toronto.assign(location_id=1)
x =["Annual Member","Casual Member","Casual Member","Casual Member","Casual Member"]
Toronto["member_type"]=x

In [75]:
# Rearranging columns
Toronto= Toronto[["location_id","member_type","plan","amount"]]
Toronto

,location_id,member_type,plan,amount
1,1,Annual Member,Annual Membership,$99
2,1,Casual Member,72 HOUR ACCESS PASS,$15
3,1,Casual Member,24 HOUR ACCESS PASS,$7
4,1,Casual Member,Single Trip For,$3.25
5,1,Casual Member,OVERAGE FEES: for every extra 30 minutes.,$4

# *Vancouver Price Index*

In [76]:
# Get URL
url = 'https://www.mobibikes.ca/en/offers-subscription'
response2 = requests.get(url)

In [77]:
# Parse Info with BeautifulSoup
response2 = requests.get(url)
soup = bs(response2.content, 'lxml')
span1 = soup.find_all('span', class_='prix')

In [78]:
span2 = soup.find_all('div', class_='views-field views-field-title')

In [79]:
# Create loop to scrape pricing index for membership type
price =[]
for i in span1:
    try:
        print(i.text)
        price.append(i.text)
    
    except:
        pass
price

$12
$25
$129
$159
$
$

['$12', '$25', '$129', '$159', '$', '$']

In [80]:
# Create loop to scrape pricing index
ls= []

for i in span2:
    try:
        print(i.text)
        ls.append(i.text)
    except:
        pass
    
ls

 24 Hour Pass
 30 Day Pass
 365 Day Pass Standard
 365 Day Pass Plus
 365 Day Corporate Pass Standard
 365 Day Corporate Pass Plus

[' 24 Hour Pass ',
 ' 30 Day Pass ',
 ' 365 Day Pass Standard ',
 ' 365 Day Pass Plus ',
 ' 365 Day Corporate Pass Standard ',
 ' 365 Day Corporate Pass Plus ']

In [81]:
#Creating Vancouver Dataframe
Vancouver_df = pd.DataFrame({"member_type":ls,"plan":ls,"amount":price})
Vancouver_df = Vancouver_df.assign(location_id=2)
Vancouver_df

,member_type,plan,amount,location_id
0,24 Hour Pass,24 Hour Pass,$12,2
1,30 Day Pass,30 Day Pass,$25,2
2,365 Day Pass Standard,365 Day Pass Standard,$129,2
3,365 Day Pass Plus,365 Day Pass Plus,$159,2
4,365 Day Corporate Pass Standard,365 Day Corporate Pass Standard,$,2
5,365 Day Corporate Pass Plus,365 Day Corporate Pass Plus,$,2

# *Boston Price Index*

In [82]:
# Get URL
url = 'https://www.bluebikes.com/pricing'
response3 = requests.get(url)

In [ ]:
# Parse Info with BeautifulSoup
response3 = requests.get(url)
soup = bs(response3.content, 'lxml')
divs = soup.find_all('div', class_='spacing--one-and-half--above-xlarge')

In [ ]:
membership_type = soup.find_all('h2')
membership_type[1].text

In [ ]:
pricing = soup.find_all('p', class_='type-alpha--m')
pricing[1].text

In [ ]:
# Create loop to scrape pricing index for membership type

b=[]
for i in membership_type:
    try:
        print(i.text)
        bs.append(i.text)
    except:
        pass
b

In [ ]:
# Create loop to scrape pricing index
ls= []
for i in pricing:
    try:
        print(i.text)
        ls.append(i.text)
    except:
        pass
ls

In [ ]:
Boston_df = Boston_df.assign(location_id=3)
x =["Annual Member","Casual Member","Casual Member","Casual Member","Casual Member"]
Boston_df["member_type"]=x
Boston_df.head()

In [ ]:
#Creating Boston Dataframe
Boston_df = pd.DataFrame({"member_type":x,"plan":b,"amount":ls})
Boston_df = Boston_df.assign(location_id=3)

Boston_df

# *New York Price Index*

In [ ]:
# Get URL
url = 'https://www.citibikenyc.com/pricing'
response4 = requests.get(url)

In [ ]:
# Parse Info with BeautifulSoup
response4 = requests.get(url)
soup = bs(response4.content, 'lxml')
divs = soup.find_all('div', class_='spacing--one-and-half--above-xlarge')

In [ ]:
membership_type = soup.find_all('h2')
membership_type[1].text

In [ ]:
pricing = soup.find_all('p', class_='type-alpha--m text-color--white')
pricing[1].text

In [ ]:
# Create loop to scrape pricing index for membership type
for i in membership_type:
    try:
        print(i.text)
    except:
        pass

In [ ]:
# Create loop to scrape pricing index
ls=[]
for i in pricing:
    try:
        print(i.text)
        ls.append(i.text)
    except:
        pass
ls

In [ ]:
#Creating Boston Dataframe
NewYork_df = pd.DataFrame(ls)
NewYork_df

<b>Dataframe for each City Price Index<b>

In [ ]:
# Create a DF of Toronto, Vancouver, Boston, & New York
city_bike = [Toronto,Boston_df,NewYork_df,Vancouver_df]
bike_share = pd.concat(city_bike)
bike_share