<b>Initial Setup<b>

In [1]:
# import dependencies
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager

<b>Web Scrape From Each City Bike Share Program Site<b>

# *Toronto Price Index*

In [2]:
# Get URL
url = 'https://bikesharetoronto.com/pricing/'
response1 = requests.get(url)

In [3]:
# Parse Info with BeautifulSoup
response1 = requests.get(url)
soup = bs(response1.content, 'lxml')
divs = soup.find_all('div', class_='fl-rich-text')

In [4]:
# Create loop to scrape pricing index and memebership type
ls= []
for i in divs:
    try:
        print(i.find('h1').text)
        ls.append(i.find('h1').text)
        
    except:
        pass
ls

Pricing
Annual Membership $99
72 HOUR ACCESS PASS $15
24 HOUR ACCESS PASS $7
Single Trip For $3.25
OVERAGE FEES: $4 for every extra 30 minutes.

['Pricing',
 'Annual Membership $99\xa0',
 '72 HOUR ACCESS PASS $15',
 '24 HOUR ACCESS PASS $7',
 'Single Trip For $3.25',
 'OVERAGE FEES: $4 for every extra 30 minutes.']

In [30]:
#Creating Toronto Dataframe
Toronto_df = pd.DataFrame(ls)
Toronto_df

                                              0
0                                       Pricing
1                        Annual Membership $99
2                       72 HOUR ACCESS PASS $15
3                        24 HOUR ACCESS PASS $7
4                         Single Trip For $3.25
5  OVERAGE FEES: $4 for every extra 30 minutes.

In [31]:
Toronto =Toronto_df.drop([0])

In [32]:
Toronto['Price'] = Toronto[0].str.extract('(\$[0-9,.]+)')
Toronto[0] = Toronto[0].str.replace('(\$[0-9,.]+)', '')
Toronto = Toronto.rename(columns={0:'Membership', 'amount':'Price'})
Toronto

                                   Membership  Price
1                         Annual Membership      $99
2                        72 HOUR ACCESS PASS     $15
3                        24 HOUR ACCESS PASS      $7
4                            Single Trip For   $3.25
5  OVERAGE FEES:  for every extra 30 minutes.     $4

# *Vancouver Price Index*

In [33]:
# Get URL
url = 'https://www.mobibikes.ca/en/offers-subscription'
response2 = requests.get(url)

In [34]:
# Parse Info with BeautifulSoup
response2 = requests.get(url)
soup = bs(response2.content, 'lxml')
span1 = soup.find_all('span', class_='prix')

In [35]:
span2 = soup.find_all('div', class_='views-field views-field-title')

In [36]:
# Create loop to scrape pricing index for membership type
for i in span1:
    try:
        print(i.text)
    except:
        pass

$12
$25
$129
$159
$
$

In [ ]:
# Create loop to scrape pricing index
ls= []

for i in span2:
    try:
        print(i.text)
        ls.append(i.text)
    except:
        pass
    
ls

In [ ]:
#Creating Vancouver Dataframe
Vancouver_df = pd.DataFrame(ls)
Vancouver_df

# *Boston Price Index*

In [ ]:
# Get URL
url = 'https://www.bluebikes.com/pricing'
response3 = requests.get(url)

In [ ]:
# Parse Info with BeautifulSoup
response3 = requests.get(url)
soup = bs(response3.content, 'lxml')
divs = soup.find_all('div', class_='spacing--one-and-half--above-xlarge')

In [ ]:
membership_type = soup.find_all('h2')
membership_type[1].text

In [ ]:
pricing = soup.find_all('p', class_='type-alpha--m')
pricing[1].text

In [ ]:
# Create loop to scrape pricing index for membership type
for i in membership_type:
    try:
        print(i.text)
    except:
        pass

In [ ]:
# Create loop to scrape pricing index
ls= []
for i in pricing:
    try:
        print(i.text)
        ls.append(i.text)
    except:
        pass
ls

In [ ]:
#Creating Boston Dataframe
Boston_df = pd.DataFrame(ls)
Boston_df

# *New York Price Index*

In [ ]:
# Get URL
url = 'https://www.citibikenyc.com/pricing'
response4 = requests.get(url)

In [ ]:
# Parse Info with BeautifulSoup
response4 = requests.get(url)
soup = bs(response4.content, 'lxml')
divs = soup.find_all('div', class_='spacing--one-and-half--above-xlarge')

In [ ]:
membership_type = soup.find_all('h2')
membership_type[1].text

In [ ]:
pricing = soup.find_all('p', class_='type-alpha--m text-color--white')
pricing[1].text

In [ ]:
# Create loop to scrape pricing index for membership type
for i in membership_type:
    try:
        print(i.text)
    except:
        pass

In [ ]:
# Create loop to scrape pricing index
ls=[]
for i in pricing:
    try:
        print(i.text)
        ls.append(i.text)
    except:
        pass
ls

In [ ]:
#Creating Boston Dataframe
NewYork_df = pd.DataFrame(ls)
NewYork_df

<b>Dataframe for each City Price Index<b>

In [ ]:
# Create a DF of Toronto, Vancouver, Boston, & New York
price_index = pd.DataFrame({})
price_index