<b>Initial Setup<b>

In [115]:
# import dependencies
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager

<b>Web Scrape From Each City Bike Share Program Site<b>

# *Toronto Price Index*

In [116]:
# Get URL
url = 'https://bikesharetoronto.com/pricing/'
response1 = requests.get(url)

In [117]:
# Parse Info with BeautifulSoup
response1 = requests.get(url)
soup = bs(response1.content, 'lxml')
divs = soup.find_all('div', class_='fl-rich-text')

In [118]:
# Create loop to scrape pricing index and memebership type
ls= []
for i in divs:
    try:
        print(i.find('h1').text)
        ls.append(i.find('h1').text)
        
    except:
        pass
ls

Pricing
Annual Membership $99
72 HOUR ACCESS PASS $15
24 HOUR ACCESS PASS $7
Single Trip For $3.25
OVERAGE FEES: $4 for every extra 30 minutes.

['Pricing',
 'Annual Membership $99\xa0',
 '72 HOUR ACCESS PASS $15',
 '24 HOUR ACCESS PASS $7',
 'Single Trip For $3.25',
 'OVERAGE FEES: $4 for every extra 30 minutes.']

In [119]:
#Creating Toronto Dataframe
Toronto_df = pd.DataFrame(ls)

                                              0
0                                       Pricing
1                        Annual Membership $99
2                       72 HOUR ACCESS PASS $15
3                        24 HOUR ACCESS PASS $7
4                         Single Trip For $3.25
5  OVERAGE FEES: $4 for every extra 30 minutes.

In [120]:
Toronto =Toronto_df.drop([0])

In [121]:
Toronto['Price'] = Toronto[0].str.extract('(\$[0-9,.]+)')
Toronto[0] = Toronto[0].str.replace('(\$[0-9,.]+)', '')
Toronto = Toronto.rename(columns={0:'Plan', 'amount':'Price'})
Toronto

                                         Plan  Price
1                         Annual Membership      $99
2                        72 HOUR ACCESS PASS     $15
3                        24 HOUR ACCESS PASS      $7
4                            Single Trip For   $3.25
5  OVERAGE FEES:  for every extra 30 minutes.     $4

In [123]:
Toronto = Toronto.assign(location_id=1)
x =["Annual Member","Casual Member","Casual Member","Casual Member","Casual Member"]
Toronto["member_type"]=x
Toronto.head()

,Plan,Price,location_id,member_type
1,Annual Membership,$99,1,Annual Member
2,72 HOUR ACCESS PASS,$15,1,Casual Member
3,24 HOUR ACCESS PASS,$7,1,Casual Member
4,Single Trip For,$3.25,1,Casual Member
5,OVERAGE FEES: for every extra 30 minutes.,$4,1,Casual Member

# *Vancouver Price Index*

In [108]:
# Get URL
url = 'https://www.mobibikes.ca/en/offers-subscription'
response2 = requests.get(url)

In [109]:
# Parse Info with BeautifulSoup
response2 = requests.get(url)
soup = bs(response2.content, 'lxml')
span1 = soup.find_all('span', class_='prix')

In [110]:
span2 = soup.find_all('div', class_='views-field views-field-title')

In [124]:
# Create loop to scrape pricing index for membership type
price =[]
for i in span1:
    try:
        print(i.text)
        price.append(i.text)
    
    except:
        pass
price

$12
$25
$129
$159
$
$

['$12', '$25', '$129', '$159', '$', '$']

In [125]:
# Create loop to scrape pricing index
ls= []

for i in span2:
    try:
        print(i.text)
        ls.append(i.text)
    except:
        pass
    
ls

 24 Hour Pass
 30 Day Pass
 365 Day Pass Standard
 365 Day Pass Plus
 365 Day Corporate Pass Standard
 365 Day Corporate Pass Plus

[' 24 Hour Pass ',
 ' 30 Day Pass ',
 ' 365 Day Pass Standard ',
 ' 365 Day Pass Plus ',
 ' 365 Day Corporate Pass Standard ',
 ' 365 Day Corporate Pass Plus ']

In [131]:
#Creating Vancouver Dataframe

Vancouver_df = pd.DataFrame({"member_type":ls,"plan":ls,"amount":price})
Vancouver_df = Vancouver_df.assign(location_id=2)
Vancouver_df

,member_type,plan,amount,location_id
0,24 Hour Pass,24 Hour Pass,$12,2
1,30 Day Pass,30 Day Pass,$25,2
2,365 Day Pass Standard,365 Day Pass Standard,$129,2
3,365 Day Pass Plus,365 Day Pass Plus,$159,2
4,365 Day Corporate Pass Standard,365 Day Corporate Pass Standard,$,2
5,365 Day Corporate Pass Plus,365 Day Corporate Pass Plus,$,2

# *Boston Price Index*

In [144]:
# Get URL
url = 'https://www.bluebikes.com/pricing'
response3 = requests.get(url)

In [145]:
# Parse Info with BeautifulSoup
response3 = requests.get(url)
soup = bs(response3.content, 'lxml')
divs = soup.find_all('div', class_='spacing--one-and-half--above-xlarge')

In [146]:
membership_type = soup.find_all('h2')
membership_type[1].text

'Annual Membership'

In [147]:
pricing = soup.find_all('p', class_='type-alpha--m')
pricing[1].text

'$10/month'

In [148]:
# Create loop to scrape pricing index for membership type

b=[]
for i in membership_type:
    try:
        print(i.text)
        bs.append(i.text)
    except:
        pass
b

Monthly Membership
Annual Membership
Annual Membership
More Options

[]

In [149]:
# Create loop to scrape pricing index
ls= []
for i in pricing:
    try:
        print(i.text)
        ls.append(i.text)
    except:
        pass
ls

$20/month
$10/month
$8.25/month

['$20/month', '$10/month', '$8.25/month']

In [ ]:
x =["Customer","Subscriber","Casual Member","Casual Member","Casual Member"]
Toronto["member_type"]=x

In [152]:
#Creating Boston Dataframe
Boston_df = pd.DataFrame({"member_type":,"plan":b,"amount":b})
Boston_df = Boston_df.assign(location_id=3)

Boston_df

ValueError: arrays must all be same length

# *New York Price Index*

In [46]:
# Get URL
url = 'https://www.citibikenyc.com/pricing'
response4 = requests.get(url)

In [47]:
# Parse Info with BeautifulSoup
response4 = requests.get(url)
soup = bs(response4.content, 'lxml')
divs = soup.find_all('div', class_='spacing--one-and-half--above-xlarge')

In [48]:
membership_type = soup.find_all('h2')
membership_type[1].text

'Day Pass'

In [49]:
pricing = soup.find_all('p', class_='type-alpha--m text-color--white')
pricing[1].text

'$15/day'

In [50]:
# Create loop to scrape pricing index for membership type
for i in membership_type:
    try:
        print(i.text)
    except:
        pass

Single Ride
Day Pass
Annual Membership
More Options

In [51]:
# Create loop to scrape pricing index
ls=[]
for i in pricing:
    try:
        print(i.text)
        ls.append(i.text)
    except:
        pass
ls

$3/trip
$15/day

['$3/trip', '$15/day']

In [52]:
#Creating Boston Dataframe
NewYork_df = pd.DataFrame(ls)
NewYork_df

         0
0  $3/trip
1  $15/day

<b>Dataframe for each City Price Index<b>

In [90]:
# Create a DF of Toronto, Vancouver, Boston, & New York
city_bike = [Toronto,Boston_df,NewYork_df,Vancouver_df]
bike_share = pd.concat(city_bike)
bike_share

,0,Member_type,Price,location_id
1,NaN,Annual Membership,$99,1.0
2,NaN,72 HOUR ACCESS PASS,$15,1.0
3,NaN,24 HOUR ACCESS PASS,$7,1.0
4,NaN,Single Trip For,$3.25,1.0
5,NaN,OVERAGE FEES: for every extra 30 minutes.,$4,1.0
0,$20/month,NaN,NaN,NaN
1,$10/month,NaN,NaN,NaN
2,$8.25/month,NaN,NaN,NaN
0,$3/trip,NaN,NaN,NaN
1,$15/day,NaN,NaN,NaN
0,24 Hour Pass,NaN,NaN,NaN
1,30 Day Pass,NaN,NaN,NaN
2,365 Day Pass Standard,NaN,NaN,NaN
3,365 Day Pass Plus,NaN,NaN,NaN
4,365 Day Corporate Pass Standard,NaN,NaN,NaN
5,365 Day Corporate Pass Plus,NaN,NaN,NaN