In [2]:
#Import Dependencies
import os
import csv
import pandas as pd
import requests
import json

In [3]:
#Data Files
boston_01_path = os.path.join("./Resources/201901-bluebikes-tripdata.csv")
boston_02_path = os.path.join("./Resources/201902-bluebikes-tripdata.csv")
boston_03_path = os.path.join("./Resources/201903-bluebikes-tripdata.csv")
boston_04_path = os.path.join("./Resources/201904-bluebikes-tripdata.csv")
boston_05_path = os.path.join("./Resources/201905-bluebikes-tripdata.csv")
boston_06_path = os.path.join("./Resources/201906-bluebikes-tripdata.csv")
boston_07_path = os.path.join("./Resources/201907-bluebikes-tripdata.csv")
boston_08_path = os.path.join("./Resources/201908-bluebikes-tripdata.csv")
boston_09_path = os.path.join("./Resources/201909-bluebikes-tripdata.csv")
boston_10_path = os.path.join("./Resources/201910-bluebikes-tripdata.csv")
boston_11_path = os.path.join("./Resources/201911-bluebikes-tripdata.csv")
boston_12_path = os.path.join("./Resources/201912-bluebikes-tripdata.csv")

# # Read Data Files 
boston_01 = pd.read_csv(boston_01_path, encoding="utf=8")
boston_02 = pd.read_csv(boston_02_path, encoding="utf=8")
boston_03 = pd.read_csv(boston_03_path, encoding="utf=8")
boston_04 = pd.read_csv(boston_04_path, encoding="utf=8")
boston_05 = pd.read_csv(boston_05_path, encoding="utf=8")
boston_06 = pd.read_csv(boston_06_path, encoding="utf=8")
boston_07 = pd.read_csv(boston_07_path, encoding="utf=8")
boston_08 = pd.read_csv(boston_08_path, encoding="utf=8")
boston_09 = pd.read_csv(boston_09_path, encoding="utf=8")
boston_10 = pd.read_csv(boston_10_path, encoding="utf=8")
boston_11 = pd.read_csv(boston_11_path, encoding="utf=8")
boston_12 = pd.read_csv(boston_12_path, encoding="utf=8")


boston_02

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,331,2019-02-01 00:03:56.3250,2019-02-01 00:09:28.1720,108,Harvard University / SEAS Cruft-Pierce Halls a...,42.377945,-71.116865,377,Perry Park,42.379273,-71.103419,3817,Subscriber,1988,1
1,181,2019-02-01 00:06:00.5200,2019-02-01 00:09:01.8160,80,MIT Stata Center at Vassar St / Main St,42.362131,-71.091156,117,Binney St / Sixth St,42.366162,-71.086883,4436,Subscriber,1972,1
2,334,2019-02-01 00:12:01.6070,2019-02-01 00:17:36.4340,57,Columbus Ave at Massachusetts Ave,42.340543,-71.081388,36,Copley Square - Dartmouth St at Boylston St,42.349935,-71.077386,4123,Subscriber,1990,1
3,393,2019-02-01 00:12:18.9190,2019-02-01 00:18:52.8260,22,South Station - 700 Atlantic Ave,42.352175,-71.055547,40,Lewis Wharf at Atlantic Ave,42.363871,-71.050877,2915,Subscriber,1988,2
4,279,2019-02-01 00:22:11.2290,2019-02-01 00:26:50.6830,189,Kendall T,42.362428,-71.084955,91,One Kendall Square at Hampshire St / Portland St,42.366277,-71.091690,4030,Subscriber,1987,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80461,744,2019-02-28 23:48:06.7350,2019-03-01 00:00:31.5060,178,MIT Pacific St at Purrington St,42.359573,-71.101295,116,359 Broadway - Broadway at Fayette Street,42.370803,-71.104412,3881,Subscriber,1995,1
80462,125,2019-02-28 23:48:37.1410,2019-02-28 23:50:42.2390,228,One Memorial Drive,42.361619,-71.080436,189,Kendall T,42.362428,-71.084955,2694,Subscriber,1992,1
80463,138,2019-02-28 23:56:24.8110,2019-02-28 23:58:43.8080,318,Ames St at Broadway,42.363693,-71.087567,117,Binney St / Sixth St,42.366162,-71.086883,2772,Subscriber,1992,1
80464,229,2019-02-28 23:56:33.5320,2019-03-01 00:00:22.5940,334,Mass Ave at Hadley/Walden,42.391210,-71.122608,145,Rindge Avenue - O'Neill Library,42.392766,-71.129042,2718,Subscriber,1984,1
80465,621,2019-02-28 23:59:11.5960,2019-03-01 00:09:33.2940,318,Ames St at Broadway,42.363693,-71.087567,178,MIT Pacific St at Purrington St,42.359573,-71.101295,2347,Subscriber,1993,1

In [13]:
# drop columns
i =["birth year","gender","start station latitude","start station longitude","end station latitude",
    "end station longitude","end station name","start station name"]

boston_01=boston_01.drop(columns=i)
boston_02=boston_02.drop(columns=i)
boston_03=boston_03.drop(columns=i)
boston_04=boston_04.drop(columns=i)
boston_05=boston_05.drop(columns=i)
boston_06=boston_06.drop(columns=i)
boston_07=boston_07.drop(columns=i)
boston_08=boston_08.drop(columns=i)
boston_09=boston_09.drop(columns=i)
boston_10=boston_10.drop(columns=i)
boston_11=boston_11.drop(columns=i)
boston_12=boston_12.drop(columns=i)

In [14]:
boston_01

,tripduration,starttime,stoptime,start station id,end station id,bikeid,usertype
0,371,2019-01-01 00:09:13.7980,2019-01-01 00:15:25.3360,80,179,3689,Subscriber
1,264,2019-01-01 00:33:56.1820,2019-01-01 00:38:20.8800,117,189,4142,Subscriber
2,458,2019-01-01 00:41:54.6000,2019-01-01 00:49:33.2730,68,96,1628,Subscriber
3,364,2019-01-01 00:43:32.5710,2019-01-01 00:49:37.4260,89,334,2969,Subscriber
4,681,2019-01-01 00:49:56.4640,2019-01-01 01:01:17.7010,73,367,3469,Subscriber
...,...,...,...,...,...,...,...
69867,431,2019-01-31 23:48:35.5680,2019-01-31 23:55:47.0140,81,23,2696,Subscriber
69868,567,2019-01-31 23:49:11.7920,2019-01-31 23:58:39.3080,178,116,3010,Subscriber
69869,420,2019-01-31 23:49:55.6920,2019-01-31 23:56:55.7720,108,87,3676,Subscriber
69870,249,2019-01-31 23:51:19.3780,2019-01-31 23:55:28.9770,68,178,2203,Subscriber
69871,60560,2019-01-28 00:51:13.0960,2019-01-28 17:40:33.9460,68,363,3801,Subscriber

In [17]:
#Add new column:location_id
boston_01["location_id"]=3
boston_02["location_id"]=3
boston_03["location_id"]=3
boston_04["location_id"]=3
boston_05["location_id"]=3
boston_06["location_id"]=3
boston_07["location_id"]=3
boston_08["location_id"]=3
boston_09["location_id"]=3
boston_10["location_id"]=3
boston_11["location_id"]=3
boston_12["location_id"]=3

In [18]:
boston_01

,tripduration,starttime,stoptime,start station id,end station id,bikeid,usertype,location_id
0,371,2019-01-01 00:09:13.7980,2019-01-01 00:15:25.3360,80,179,3689,Subscriber,3
1,264,2019-01-01 00:33:56.1820,2019-01-01 00:38:20.8800,117,189,4142,Subscriber,3
2,458,2019-01-01 00:41:54.6000,2019-01-01 00:49:33.2730,68,96,1628,Subscriber,3
3,364,2019-01-01 00:43:32.5710,2019-01-01 00:49:37.4260,89,334,2969,Subscriber,3
4,681,2019-01-01 00:49:56.4640,2019-01-01 01:01:17.7010,73,367,3469,Subscriber,3
...,...,...,...,...,...,...,...,...
69867,431,2019-01-31 23:48:35.5680,2019-01-31 23:55:47.0140,81,23,2696,Subscriber,3
69868,567,2019-01-31 23:49:11.7920,2019-01-31 23:58:39.3080,178,116,3010,Subscriber,3
69869,420,2019-01-31 23:49:55.6920,2019-01-31 23:56:55.7720,108,87,3676,Subscriber,3
69870,249,2019-01-31 23:51:19.3780,2019-01-31 23:55:28.9770,68,178,2203,Subscriber,3
69871,60560,2019-01-28 00:51:13.0960,2019-01-28 17:40:33.9460,68,363,3801,Subscriber,3

In [19]:
#usertype:annual=subscriber(3),casual=customer(4)

boston_01=boston_01.replace({"usertype":{"Subscriber":5,"Customer":6}})
boston_02=boston_02.replace({"usertype":{"Subscriber":5,"Customer":6}})
boston_03=boston_03.replace({"usertype":{"Subscriber":5,"Customer":6}})
boston_04=boston_04.replace({"usertype":{"Subscriber":5,"Customer":6}})
boston_05=boston_05.replace({"usertype":{"Subscriber":5,"Customer":6}})
boston_06=boston_06.replace({"usertype":{"Subscriber":5,"Customer":6}})
boston_07=boston_07.replace({"usertype":{"Subscriber":5,"Customer":6}})
boston_08=boston_08.replace({"usertype":{"Subscriber":5,"Customer":6}})
boston_09=boston_09.replace({"usertype":{"Subscriber":5,"Customer":6}})
boston_10=boston_10.replace({"usertype":{"Subscriber":5,"Customer":6}})
boston_11=boston_11.replace({"usertype":{"Subscriber":5,"Customer":6}})
boston_12=boston_12.replace({"usertype":{"Subscriber":5,"Customer":6}})

In [20]:
boston_01

,tripduration,starttime,stoptime,start station id,end station id,bikeid,usertype,location_id
0,371,2019-01-01 00:09:13.7980,2019-01-01 00:15:25.3360,80,179,3689,5,3
1,264,2019-01-01 00:33:56.1820,2019-01-01 00:38:20.8800,117,189,4142,5,3
2,458,2019-01-01 00:41:54.6000,2019-01-01 00:49:33.2730,68,96,1628,5,3
3,364,2019-01-01 00:43:32.5710,2019-01-01 00:49:37.4260,89,334,2969,5,3
4,681,2019-01-01 00:49:56.4640,2019-01-01 01:01:17.7010,73,367,3469,5,3
...,...,...,...,...,...,...,...,...
69867,431,2019-01-31 23:48:35.5680,2019-01-31 23:55:47.0140,81,23,2696,5,3
69868,567,2019-01-31 23:49:11.7920,2019-01-31 23:58:39.3080,178,116,3010,5,3
69869,420,2019-01-31 23:49:55.6920,2019-01-31 23:56:55.7720,108,87,3676,5,3
69870,249,2019-01-31 23:51:19.3780,2019-01-31 23:55:28.9770,68,178,2203,5,3
69871,60560,2019-01-28 00:51:13.0960,2019-01-28 17:40:33.9460,68,363,3801,5,3

In [22]:
#performing concatenation
boston = [boston_01,boston_02,boston_03,boston_03,boston_03,boston_04,boston_05,
          boston_06,boston_06,boston_07,boston_08,boston_09,boston_10,boston_11,boston_12]
bike_share = pd.concat(boston).drop_duplicates().reset_index(drop=True)
bike_share

,tripduration,starttime,stoptime,start station id,end station id,bikeid,usertype,location_id
0,371,2019-01-01 00:09:13.7980,2019-01-01 00:15:25.3360,80,179,3689,5,3
1,264,2019-01-01 00:33:56.1820,2019-01-01 00:38:20.8800,117,189,4142,5,3
2,458,2019-01-01 00:41:54.6000,2019-01-01 00:49:33.2730,68,96,1628,5,3
3,364,2019-01-01 00:43:32.5710,2019-01-01 00:49:37.4260,89,334,2969,5,3
4,681,2019-01-01 00:49:56.4640,2019-01-01 01:01:17.7010,73,367,3469,5,3
...,...,...,...,...,...,...,...,...
2522766,1562,2019-12-31 23:52:10.7280,2020-01-01 00:18:13.4180,22,22,4503,6,3
2522767,2250,2019-12-31 23:52:14.9270,2020-01-01 00:29:45.8210,22,22,5326,6,3
2522768,397,2019-12-31 23:54:58.3910,2020-01-01 00:01:35.4790,386,228,4483,5,3
2522769,360,2019-12-31 23:55:54.5440,2020-01-01 00:01:55.4270,47,98,3955,5,3
2522770,63,2019-12-31 23:57:49.6720,2019-12-31 23:58:52.9730,352,372,3205,5,3

In [24]:
# remove rows with null values
boston_01 = boston_01.dropna()
boston_02 = boston_02.dropna()
boston_03 = boston_03.dropna()
boston_04 = boston_04.dropna()
boston_05 = boston_05.dropna()
boston_06 = boston_06.dropna()
boston_07 = boston_07.dropna()
boston_08 = boston_08.dropna()
boston_09 = boston_09.dropna()
boston_10 = boston_10.dropna()
boston_11 = boston_11.dropna()
boston_12 = boston_12.dropna()

# get all bikes

In [26]:
bikes01 = pd.DataFrame(boston_01["bikeid"].unique())
bikes02 = pd.DataFrame(boston_02["bikeid"].unique())
bikes03 = pd.DataFrame(boston_03["bikeid"].unique())
bikes04 = pd.DataFrame(boston_04["bikeid"].unique())
bikes05 = pd.DataFrame(boston_05["bikeid"].unique())
bikes06 = pd.DataFrame(boston_06["bikeid"].unique())
bikes07 = pd.DataFrame(boston_07["bikeid"].unique())
bikes08 = pd.DataFrame(boston_08["bikeid"].unique())
bikes09 = pd.DataFrame(boston_09["bikeid"].unique())
bikes10 = pd.DataFrame(boston_10["bikeid"].unique())
bikes11 = pd.DataFrame(boston_11["bikeid"].unique())
bikes12 = pd.DataFrame(boston_12["bikeid"].unique())

In [27]:
frames = [bikes01, bikes02, bikes03, bikes04, bikes05, bikes06, bikes07,
          bikes08, bikes09, bikes10, bikes11, bikes12]
bikes = pd.concat(frames).drop_duplicates().reset_index(drop=True)
bikes["location_id"] = 3
bikes.columns=["BikeID", "LocationID"]
bikes

      BikeID  LocationID
0       3689           3
1       4142           3
2       1628           3
3       2969           3
4       3469           3
...      ...         ...
4647    3625           3
4648    2778           3
4649    3447           3
4650    3125           3
4651    2752           3

[4652 rows x 2 columns]

In [28]:
#User type
user01 = pd.DataFrame(boston_01[["usertype","location_id"]])
user02 = pd.DataFrame(boston_02[["usertype","location_id"]])
user03 = pd.DataFrame(boston_03[["usertype","location_id"]])
user04 = pd.DataFrame(boston_04[["usertype","location_id"]])
user05 = pd.DataFrame(boston_05[["usertype","location_id"]])
user06 = pd.DataFrame(boston_06[["usertype","location_id"]])
user07 = pd.DataFrame(boston_07[["usertype","location_id"]])
user08 = pd.DataFrame(boston_08[["usertype","location_id"]])
user09 = pd.DataFrame(boston_09[["usertype","location_id"]])
user10 = pd.DataFrame(boston_10[["usertype","location_id"]])
user11 = pd.DataFrame(boston_11[["usertype","location_id"]])
user12 = pd.DataFrame(boston_12[["usertype","location_id"]])

In [29]:
frames = [user01, user02, user03, user04, user05, user06, user07,
         user08, user09, user10, user11,user12]
usertype= pd.concat(frames).drop_duplicates().reset_index(drop=True)

usertype.columns=["UserType", "LocationID"]
usertype

   UserType  LocationID
0         5           3
1         6           3

In [14]:
#clean titles

In [15]:
#remove null rows

In [16]:
#combine into quarters & full year

In [17]:
#display table for preview

In [ ]:
#display id, trip id, start_station id, start_station name, end_station id, end_station name, member_type, bike_id