Import dependencies

In [3]:
import os
import pandas as pd
import numpy as np

Study data files: Toronto files:

In [4]:
toronto_Q1_path = os.path.join("../resources/1_toronto_canada","2019-Q1.csv")
toronto_Q2_path = os.path.join("../resources/1_toronto_canada", "2019-Q2.csv")
toronto_Q3_path = os.path.join("../resources/1_toronto_canada", "2019-Q3.csv")
toronto_Q4_path = os.path.join("../resources/1_toronto_canada", "2019-Q4.csv")

Read the data and study the results:

In [5]:
q1 = pd.read_csv(toronto_Q1_path, encoding="utf=8")
q2 = pd.read_csv(toronto_Q2_path, encoding="utf=8")
q3 = pd.read_csv(toronto_Q3_path, encoding="utf=8")
q4 = pd.read_csv(toronto_Q4_path, encoding="utf=8")

Renaming the columns:

In [6]:
q1 = q1.rename(columns={"Trip  Duration": "Trip Duration"})
q2 = q2.rename(columns={"Trip  Duration": "Trip Duration"})
q3 = q3.rename(columns={"Trip  Duration": "Trip Duration"})
q4 = q4.rename(columns={"Trip  Duration": "Trip Duration"})

Creating DataFrame:

In [7]:
Toronto = [q1, q2, q3, q4]
bike_share = pd.concat(Toronto)
bike_share.head()

,Trip Id,Subscription Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type
0,4581278,199751,1547,7021,01/01/2019 00:08,Bay St / Albert St,7233.0,01/01/2019 00:33,King / Cowan Ave - SMART,1296,Annual Member
1,4581279,294730,1112,7160,01/01/2019 00:10,King St W / Tecumseth St,7051.0,01/01/2019 00:29,Wellesley St E / Yonge St (Green P),2947,Annual Member
2,4581280,197252,589,7055,01/01/2019 00:15,Jarvis St / Carlton St,7013.0,01/01/2019 00:25,Scott St / The Esplanade,2293,Annual Member
3,4581281,171700,259,7012,01/01/2019 00:16,Elizabeth St / Edward St (Bus Terminal),7235.0,01/01/2019 00:20,Bay St / College St (West Side) - SMART,283,Annual Member
4,4581282,306314,281,7041,01/01/2019 00:19,Edward St / Yonge St,7257.0,01/01/2019 00:24,Dundas St W / St. Patrick St,1799,Annual Member

Deleting column "Trip Duration,Subscription Id,Start Station Name, End Station Name"

In [8]:
del bike_share['Trip Id']
del bike_share['Subscription Id']
del bike_share['Start Station Name']
del bike_share['End Station Name']
bike_share.head()

,Trip Duration,Start Station Id,Start Time,End Station Id,End Time,Bike Id,User Type
0,1547,7021,01/01/2019 00:08,7233.0,01/01/2019 00:33,1296,Annual Member
1,1112,7160,01/01/2019 00:10,7051.0,01/01/2019 00:29,2947,Annual Member
2,589,7055,01/01/2019 00:15,7013.0,01/01/2019 00:25,2293,Annual Member
3,259,7012,01/01/2019 00:16,7235.0,01/01/2019 00:20,283,Annual Member
4,281,7041,01/01/2019 00:19,7257.0,01/01/2019 00:24,1799,Annual Member

Renaming columns in the created dataframe

In [9]:
bike_share = bike_share.rename(columns={"Start Time": "start_date",
                                        "Trip Duration": "tripDuration",
                                        "Start Station Id":"start_station_id",
                                        "End Station Id":"end_station_id",
                                        "Start Time":"start_date",
                                        "End Time":"end_date",
                                        "Bike Id":"bikeID",
                                        "User Type":"memberType"
                                       })
bike_share.head()

,tripDuration,start_station_id,start_date,end_station_id,end_date,bikeID,memberType
0,1547,7021,01/01/2019 00:08,7233.0,01/01/2019 00:33,1296,Annual Member
1,1112,7160,01/01/2019 00:10,7051.0,01/01/2019 00:29,2947,Annual Member
2,589,7055,01/01/2019 00:15,7013.0,01/01/2019 00:25,2293,Annual Member
3,259,7012,01/01/2019 00:16,7235.0,01/01/2019 00:20,283,Annual Member
4,281,7041,01/01/2019 00:19,7257.0,01/01/2019 00:24,1799,Annual Member

Identifying incomplete rows and Drop all rows with missing information

In [10]:
bike_share.count()

tripDuration        2439517
start_station_id    2439517
start_date          2439517
end_station_id      2439063
end_date            2439517
bikeID              2439517
memberType          2439517
dtype: int64

In [11]:
bike_share = bike_share.dropna()

In [12]:
bike_share.count()

tripDuration        2439063
start_station_id    2439063
start_date          2439063
end_station_id      2439063
end_date            2439063
bikeID              2439063
memberType          2439063
dtype: int64

Adding new column:location_id

In [13]:
bike_share = bike_share.assign(location_id=1)
bike_share.head()

,tripDuration,start_station_id,start_date,end_station_id,end_date,bikeID,memberType,location_id
0,1547,7021,01/01/2019 00:08,7233.0,01/01/2019 00:33,1296,Annual Member,1
1,1112,7160,01/01/2019 00:10,7051.0,01/01/2019 00:29,2947,Annual Member,1
2,589,7055,01/01/2019 00:15,7013.0,01/01/2019 00:25,2293,Annual Member,1
3,259,7012,01/01/2019 00:16,7235.0,01/01/2019 00:20,283,Annual Member,1
4,281,7041,01/01/2019 00:19,7257.0,01/01/2019 00:24,1799,Annual Member,1

Rearrange columns

In [15]:
bike_share = bike_share[["tripDuration","start_date","end_date",
                         "statio_station_id","end_station_id","bikeID",
                         "memberType","location_id"]]
bike_share

KeyError: "['station_station_id'] not in index"

Creating Bikes dataframe with the following columns: BikeID & location_id

In [14]:
bikes = pd.DataFrame(bike_share[["bikeID","location_id"]])
bikes = bikes.drop_duplicates().reset_index(drop=True)
bikes.columns=["BikeID", "LocationID"]
bikes.head()

   BikeID  LocationID
0    1296           1
1    2947           1
2    2293           1
3     283           1
4    1799           1

Creating MemberType dataframe with the following columns: id,type & location_id

In [13]:
MemberType = pd.DataFrame(bike_share[["memberType","location_id"]])
MemberType = MemberType.drop_duplicates().reset_index(drop=True)
MemberType.columns=["Type","LocationID"]
MemberType.index = MemberType.index + 1
MemberType.rename_axis('ID')
MemberType

            Type  LocationID
1  Annual Member           1
2  Casual Member           1