# Import dependencies

In [1]:
import os 
import csv
import pandas as pd
import requests
import datetime as dt

# Data Files

In [2]:
vancouver_01_path = os.path.join("Resources","Mobi_System_Data_2019-01.csv")
# vancouver_02_path = os.path.join("Resources","Mobi_System_Data_2019-02.csv")
# vancouver_03_path = os.path.join("Resources","Mobi_System_Data_2019-03.csv")
# vancouver_04_path = os.path.join("Resources","Mobi_System_Data_2019-04.csv")
# vancouver_05_path = os.path.join("Resources","Mobi_System_Data_2019-05.csv")
# vancouver_06_path = os.path.join("Resources","Mobi_System_Data_2019-06.csv")
# vancouver_07_path = os.path.join("Resources","Mobi_System_Data_2019-07.csv")
# vancouver_08_path = os.path.join("Resources","Mobi_System_Data_2019-08.csv")
# vancouver_09_path = os.path.join("Resources","Mobi_System_Data_2019-09.csv")
# vancouver_10_path = os.path.join("Resources","Mobi_System_Data_2019-10.csv")
# vancouver_11_path = os.path.join("Resources","Mobi_System_Data_2019-11.csv")
# vancouver_12_path = os.path.join("Resources","Mobi_System_Data_2019-12.csv")

# Read Data Files

In [3]:
vancouver_01 = pd.read_csv(vancouver_01_path, encoding="utf=8")
# vancouver_02 = pd.read_csv(vancouver_02_path, encoding="utf=8")
# vancouver_03 = pd.read_csv(vancouver_03_path, encoding="utf=8")
# vancouver_04 = pd.read_csv(vancouver_04_path, encoding="utf=8")
# vancouver_05 = pd.read_csv(vancouver_05_path, encoding="utf=8")
# vancouver_06 = pd.read_csv(vancouver_06_path, encoding="utf=8")
# vancouver_07 = pd.read_csv(vancouver_07_path, encoding="utf=8")
# vancouver_08 = pd.read_csv(vancouver_08_path, encoding="utf=8")
# vancouver_09 = pd.read_csv(vancouver_09_path, encoding="utf=8")
# vancouver_10 = pd.read_csv(vancouver_10_path, encoding="utf=8")
# vancouver_11 = pd.read_csv(vancouver_11_path, encoding="utf=8")
# vancouver_12 = pd.read_csv(vancouver_12_path, encoding="utf=8")

In [4]:
# cap at 500
vancouver_01 = vancouver_01.head(500)

In [5]:
# # drop columns
columns=["Departure", "Return", "Bike", "Departure station", "Return station", "Membership type", "Duration (sec.)"]
vancouver_01 = vancouver_01[columns]
# vancouver_02= vancouver_02.rename(columns={"Membership Type": "Membership type"})
# vancouver_02 = vancouver_02[columns]
# vancouver_03 = vancouver_03[columns]
# vancouver_04 = vancouver_04[columns]
# vancouver_05 = vancouver_05[columns]
# vancouver_06 = vancouver_06[columns]
# vancouver_07 = vancouver_07[columns]
# vancouver_08 = vancouver_08[columns]
# vancouver_09 = vancouver_09[columns]
# vancouver_10 = vancouver_10[columns]
# vancouver_11 = vancouver_11[columns]
# vancouver_12= vancouver_12.rename(columns={"Membership Type": "Membership type"})
# vancouver_12 = vancouver_12[columns]

In [6]:
vancouver_01

,Departure,Return,Bike,Departure station,Return station,Membership type,Duration (sec.)
0,2/1/2019 0:00,2/1/2019 0:00,388.0,0198 6th & Main,0298 6th & Carolina,365 Standard,177
1,2/1/2019 0:00,2/1/2019 0:00,1880.0,0193 Science World,0173 1st & Columbia,365 Plus,221
2,2/1/2019 0:00,2/1/2019 0:00,779.0,0063 Robson & Granville,0143 South False Creek Seawall,Vancity Community Pass,3272
3,2/1/2019 0:00,2/1/2019 0:00,2123.0,0064 Expo & Smithe,0078 Nelson & Mainland,365 Day Pass Plus SALE,157
4,1/31/2019 23:00,2/1/2019 0:00,444.0,0060 Bidwell & Burnaby,0196 Drake & Hornby,365 Day Pass Plus SALE,516
...,...,...,...,...,...,...,...
495,1/31/2019 17:00,1/31/2019 17:00,835.0,0204 York & Yew,0065 Cypress & Cornwall,Vancity Community Pass,206
496,1/31/2019 16:00,1/31/2019 17:00,566.0,0073 Ontario & 5th,0053 Keefer & Abbott,365 Day Founding Standard,457
497,1/31/2019 16:00,1/31/2019 17:00,52.0,0221 Glen & Union,0099 Vancouver Art Gallery - North Plaza,365 Day Pass Standard SALE,826
498,1/31/2019 16:00,1/31/2019 17:00,1090.0,0187 Bute & Davie,0087 Broughton & Burnaby,365 Plus,142
499,1/31/2019 16:00,1/31/2019 17:00,1348.0,0039 Helmcken & Burrard,0119 3rd & Quebec,365 Corporate Standard,1090

In [7]:
#performing concatenation
# vancouver = [vancouver_01,vancouver_02,vancouver_03,vancouver_04,vancouver_05,vancouver_06,
#              vancouver_07,vancouver_08,vancouver_09,vancouver_10,vancouver_11,vancouver_12]
# bike_share = pd.concat(vancouver).drop_duplicates().reset_index(drop=True)
bike_share = vancouver_01

In [8]:
# remove rows with null values
bike_share = bike_share.dropna()

In [9]:
#drop bad dates
bike_share= bike_share.loc[(bike_share["Return"]!= "1900-01-00 0:00")]
bike_share

,Departure,Return,Bike,Departure station,Return station,Membership type,Duration (sec.)
0,2/1/2019 0:00,2/1/2019 0:00,388.0,0198 6th & Main,0298 6th & Carolina,365 Standard,177
1,2/1/2019 0:00,2/1/2019 0:00,1880.0,0193 Science World,0173 1st & Columbia,365 Plus,221
2,2/1/2019 0:00,2/1/2019 0:00,779.0,0063 Robson & Granville,0143 South False Creek Seawall,Vancity Community Pass,3272
3,2/1/2019 0:00,2/1/2019 0:00,2123.0,0064 Expo & Smithe,0078 Nelson & Mainland,365 Day Pass Plus SALE,157
4,1/31/2019 23:00,2/1/2019 0:00,444.0,0060 Bidwell & Burnaby,0196 Drake & Hornby,365 Day Pass Plus SALE,516
...,...,...,...,...,...,...,...
495,1/31/2019 17:00,1/31/2019 17:00,835.0,0204 York & Yew,0065 Cypress & Cornwall,Vancity Community Pass,206
496,1/31/2019 16:00,1/31/2019 17:00,566.0,0073 Ontario & 5th,0053 Keefer & Abbott,365 Day Founding Standard,457
497,1/31/2019 16:00,1/31/2019 17:00,52.0,0221 Glen & Union,0099 Vancouver Art Gallery - North Plaza,365 Day Pass Standard SALE,826
498,1/31/2019 16:00,1/31/2019 17:00,1090.0,0187 Bute & Davie,0087 Broughton & Burnaby,365 Plus,142
499,1/31/2019 16:00,1/31/2019 17:00,1348.0,0039 Helmcken & Burrard,0119 3rd & Quebec,365 Corporate Standard,1090

In [10]:
#Add new column:location_id
bike_share = bike_share.assign(location_id=2)

In [11]:
bike_share.head()

,Departure,Return,Bike,Departure station,Return station,Membership type,Duration (sec.),location_id
0,2/1/2019 0:00,2/1/2019 0:00,388.0,0198 6th & Main,0298 6th & Carolina,365 Standard,177,2
1,2/1/2019 0:00,2/1/2019 0:00,1880.0,0193 Science World,0173 1st & Columbia,365 Plus,221,2
2,2/1/2019 0:00,2/1/2019 0:00,779.0,0063 Robson & Granville,0143 South False Creek Seawall,Vancity Community Pass,3272,2
3,2/1/2019 0:00,2/1/2019 0:00,2123.0,0064 Expo & Smithe,0078 Nelson & Mainland,365 Day Pass Plus SALE,157,2
4,1/31/2019 23:00,2/1/2019 0:00,444.0,0060 Bidwell & Burnaby,0196 Drake & Hornby,365 Day Pass Plus SALE,516,2

In [12]:
#Renaming columns
bike_share = bike_share.rename(columns={"Bike": "bike_id",
                                        "Departure station":"start_station_id",
                                        "Return station":"end_station_id",
                                        "Departure":"start_date",
                                        "Return":"end_date",
                                        "Duration (sec.)":"trip_duration",
                                        "Membership type":"member_type"})

bike_share

,start_date,end_date,bike_id,start_station_id,end_station_id,member_type,trip_duration,location_id
0,2/1/2019 0:00,2/1/2019 0:00,388.0,0198 6th & Main,0298 6th & Carolina,365 Standard,177,2
1,2/1/2019 0:00,2/1/2019 0:00,1880.0,0193 Science World,0173 1st & Columbia,365 Plus,221,2
2,2/1/2019 0:00,2/1/2019 0:00,779.0,0063 Robson & Granville,0143 South False Creek Seawall,Vancity Community Pass,3272,2
3,2/1/2019 0:00,2/1/2019 0:00,2123.0,0064 Expo & Smithe,0078 Nelson & Mainland,365 Day Pass Plus SALE,157,2
4,1/31/2019 23:00,2/1/2019 0:00,444.0,0060 Bidwell & Burnaby,0196 Drake & Hornby,365 Day Pass Plus SALE,516,2
...,...,...,...,...,...,...,...,...
495,1/31/2019 17:00,1/31/2019 17:00,835.0,0204 York & Yew,0065 Cypress & Cornwall,Vancity Community Pass,206,2
496,1/31/2019 16:00,1/31/2019 17:00,566.0,0073 Ontario & 5th,0053 Keefer & Abbott,365 Day Founding Standard,457,2
497,1/31/2019 16:00,1/31/2019 17:00,52.0,0221 Glen & Union,0099 Vancouver Art Gallery - North Plaza,365 Day Pass Standard SALE,826,2
498,1/31/2019 16:00,1/31/2019 17:00,1090.0,0187 Bute & Davie,0087 Broughton & Burnaby,365 Plus,142,2
499,1/31/2019 16:00,1/31/2019 17:00,1348.0,0039 Helmcken & Burrard,0119 3rd & Quebec,365 Corporate Standard,1090,2

In [13]:
#Getting Departure station id
bike_share["start_station_id"]= bike_share["start_station_id"].str.split(" ", n = 1, expand = True)

In [14]:
# Getting Return station id
bike_share["end_station_id"]= bike_share["end_station_id"].str.split(" ", n = 1, expand = True)

In [15]:
#Rearrange columns
bike_share = bike_share[["trip_duration","start_date","end_date","start_station_id","end_station_id",
                         "bike_id","member_type","location_id"]]
bike_share

,trip_duration,start_date,end_date,start_station_id,end_station_id,bike_id,member_type,location_id
0,177,2/1/2019 0:00,2/1/2019 0:00,0198,0298,388.0,365 Standard,2
1,221,2/1/2019 0:00,2/1/2019 0:00,0193,0173,1880.0,365 Plus,2
2,3272,2/1/2019 0:00,2/1/2019 0:00,0063,0143,779.0,Vancity Community Pass,2
3,157,2/1/2019 0:00,2/1/2019 0:00,0064,0078,2123.0,365 Day Pass Plus SALE,2
4,516,1/31/2019 23:00,2/1/2019 0:00,0060,0196,444.0,365 Day Pass Plus SALE,2
...,...,...,...,...,...,...,...,...
495,206,1/31/2019 17:00,1/31/2019 17:00,0204,0065,835.0,Vancity Community Pass,2
496,457,1/31/2019 16:00,1/31/2019 17:00,0073,0053,566.0,365 Day Founding Standard,2
497,826,1/31/2019 16:00,1/31/2019 17:00,0221,0099,52.0,365 Day Pass Standard SALE,2
498,142,1/31/2019 16:00,1/31/2019 17:00,0187,0087,1090.0,365 Plus,2
499,1090,1/31/2019 16:00,1/31/2019 17:00,0039,0119,1348.0,365 Corporate Standard,2

In [16]:
#total count of list
bike_share.count()

trip_duration       499
start_date          499
end_date            499
start_station_id    499
end_station_id      499
bike_id             499
member_type         499
location_id         499
dtype: int64

In [17]:
#Bike ID
bikes = pd.DataFrame(bike_share[["bike_id","location_id"]])
bikes = bikes.drop_duplicates().reset_index(drop=True)

In [18]:
bikes

     bike_id  location_id
0      388.0            2
1     1880.0            2
2      779.0            2
3     2123.0            2
4      444.0            2
..       ...          ...
345    293.0            2
346   1428.0            2
347   1952.0            2
348     52.0            2
349   1348.0            2

[350 rows x 2 columns]

In [19]:
#Membership :User type
usertype = pd.DataFrame(bike_share[["member_type","location_id"]])
usertype = usertype.drop_duplicates().reset_index(drop=True)
usertype

                       member_type  location_id
0                     365 Standard            2
1                         365 Plus            2
2           Vancity Community Pass            2
3           365 Day Pass Plus SALE            2
4        365 Day Founding Standard            2
5       365 Day Pass Standard SALE            2
6           365 Corporate Standard            2
7                           90 Day            2
8               365 Corporate Plus            2
9            365 Day Founding Plus            2
10           Archived Monthly Plus            2
11          Archived Monthly Basic            2
12  365 Corporate Standard Renewal            2
13       Archived Monthly Standard            2
14      365 Corporate Plus Renewal            2
15                         24 Hour            2
16                             VIP            2

In [20]:
# cap to 5,000 records
bike_share = bike_share.head(5000)

In [21]:
# Save Combined DataFrames to CSV
bike_share.to_csv("vancouver_bikeshare.csv", index=False, header=True)

In [22]:
bikes.to_csv("vancouver_bikes.csv", index=False, header=True)

In [23]:
usertype.to_csv("vancouver_membertypes.csv", index=False, header=True)