<b>Initial Setup<b>

In [1]:
# import dependencies
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager

<b>Web Scrape From Each City Bike Share Program Site<b>

# *Toronto Price Index*

In [2]:
# Get URL
url = 'https://bikesharetoronto.com/pricing/'
response1 = requests.get(url)

In [3]:
# Parse Info with BeautifulSoup
response1 = requests.get(url)
soup = bs(response1.content, 'lxml')
divs = soup.find_all('div', class_='fl-rich-text')

In [17]:
# Create loop to scrape pricing index and memebership type
ls= []
s = []
for i in divs:
    try:
        y = i.find('h1').text.split("$")[0]
        s.append(y.strip())
    
        x = i.find('h1').text.split("$")[1]
        x = x.rstrip()
        ls.append(x)
        
    except:
        pass

In [18]:
s.pop(0)
s.pop(-1)
ls.pop(-1)

'4 for every extra 30 minutes.'

In [19]:
s

['Annual Membership',
 '72 HOUR ACCESS PASS',
 '24 HOUR ACCESS PASS',
 'Single Trip For']

In [20]:
ls

['99', '15', '7', '3.25']

In [21]:
x =["Annual Member","Casual Member","Casual Member","Casual Member"]
Toronto = pd.DataFrame({"member_type": x, "plan":s, "amount": ls})
Toronto = Toronto.assign(location_id=1)
Toronto

     member_type                 plan amount  location_id
0  Annual Member    Annual Membership     99            1
1  Casual Member  72 HOUR ACCESS PASS     15            1
2  Casual Member  24 HOUR ACCESS PASS      7            1
3  Casual Member      Single Trip For   3.25            1

In [22]:
# Rearranging columns
Toronto= Toronto[["location_id","member_type","plan","amount"]]
Toronto

   location_id    member_type                 plan amount
0            1  Annual Member    Annual Membership     99
1            1  Casual Member  72 HOUR ACCESS PASS     15
2            1  Casual Member  24 HOUR ACCESS PASS      7
3            1  Casual Member      Single Trip For   3.25

# *Vancouver Price Index*

In [23]:
# Get URL
url = 'https://www.mobibikes.ca/en/offers-subscription'
response2 = requests.get(url)

In [24]:
# Parse Info with BeautifulSoup
response2 = requests.get(url)
soup = bs(response2.content, 'lxml')
span1 = soup.find_all('span', class_='prix')

In [25]:
span2 = soup.find_all('div', class_='views-field views-field-title')

In [26]:
# Create loop to scrape pricing index for membership type
price =[]
for i in span1:
    try:
        print(i.text)
        x = float(i.text.split("$")[1])
#        price.append(i.text)
        price.append(x)
    
    except:
        pass
price

$12
$25
$129
$159
$
$

[12.0, 25.0, 129.0, 159.0]

In [27]:
# Create loop to scrape pricing index
ls= []

for i in span2:
    try:
        print(i.text)
        ls.append(i.text.strip())
    except:
        pass
    
ls

 24 Hour Pass
 30 Day Pass
 365 Day Pass Standard
 365 Day Pass Plus
 365 Day Corporate Pass Standard
 365 Day Corporate Pass Plus

['24 Hour Pass',
 '30 Day Pass',
 '365 Day Pass Standard',
 '365 Day Pass Plus',
 '365 Day Corporate Pass Standard',
 '365 Day Corporate Pass Plus']

In [28]:
ls.pop(-1)
ls.pop(-1)
ls

['24 Hour Pass', '30 Day Pass', '365 Day Pass Standard', '365 Day Pass Plus']

In [29]:
#Creating Vancouver Dataframe
Vancouver_df = pd.DataFrame({"member_type":ls,"plan":ls,"amount":price})
Vancouver_df = Vancouver_df.assign(location_id=2)

In [30]:
# Rearranging columns
Vancouver_df = Vancouver_df [["location_id","member_type","plan","amount"]]
Vancouver_df

   location_id            member_type                   plan  amount
0            2           24 Hour Pass           24 Hour Pass    12.0
1            2            30 Day Pass            30 Day Pass    25.0
2            2  365 Day Pass Standard  365 Day Pass Standard   129.0
3            2      365 Day Pass Plus      365 Day Pass Plus   159.0

# *Boston Price Index*

In [31]:
# Get URL
url = 'https://www.bluebikes.com/pricing'
response3 = requests.get(url)

In [32]:
# Parse Info with BeautifulSoup
response3 = requests.get(url)
soup = bs(response3.content, 'lxml')
divs = soup.find_all('div', class_='spacing--one-and-half--above-xlarge')

In [33]:
membership_type = soup.find_all('h2')
membership_type[1].text

'Annual Membership'

In [34]:
pricing = soup.find_all('p', class_='type-alpha--m')
pricing[1].text

'$10/month'

In [35]:
# Create loop to scrape pricing index for membership type
bm= []

for i in membership_type:
    try:
        bm.append(i.text)
    except:
        pass
    
bm

['Monthly Membership',
 'Annual Membership',
 'Annual Membership',
 'More Options']

In [36]:
#Drop item from list
bm.pop(3)

'More Options'

In [37]:
# Create loop to scrape pricing index
bw= []

for i in pricing:
    try:
#        print(i.text)
        x = (i.text.split("$")[1]).split("/")[0]
        print(x)
        bw.append(x)
    except:
        pass
    
bw

20
10
8.25

['20', '10', '8.25']

In [38]:
#Creating Boston Dataframe
y =["Customer","Subscriber","Subscriber"]
boston_df = pd.DataFrame({"member_type":y,"plan":bm,"amount":bw})
boston_df = boston_df.assign(location_id=3)

In [39]:
boston_df

  member_type                plan amount  location_id
0    Customer  Monthly Membership     20            3
1  Subscriber   Annual Membership     10            3
2  Subscriber   Annual Membership   8.25            3

In [40]:
# Rearranging columns
boston_df = boston_df [["location_id","member_type","plan","amount"]]
boston_df

   location_id member_type                plan amount
0            3    Customer  Monthly Membership     20
1            3  Subscriber   Annual Membership     10
2            3  Subscriber   Annual Membership   8.25

# *New York Price Index*

In [41]:
# Get URL
url = 'https://www.citibikenyc.com/pricing'
response4 = requests.get(url)

In [42]:
# Parse Info with BeautifulSoup
response4 = requests.get(url)
soup = bs(response4.content, 'lxml')
divs = soup.find_all('div', class_='spacing--one-and-half--above-xlarge')

In [43]:
membership_type = soup.find_all('h2')
membership_type[1].text

'Day Pass'

In [44]:
pricing = soup.find_all('p', class_='type-alpha--m text-color--white')
yearly = soup.find_all('p', class_='type-alpha--m text-color--alpha')
print(pricing[1].text)
print(yearly[0].text)

$15/day
$15*/month

In [45]:
# Create loop to scrape pricing index for membership type
nn=[]

for i in membership_type:
    try:
        print(i.text)
        nn.append(i.text)
    except:
        pass
nn

Single Ride
Day Pass
Annual Membership
More Options

['Single Ride', 'Day Pass', 'Annual Membership', 'More Options']

In [46]:
#Drop item from list
nn.pop(3)

'More Options'

In [47]:
# Create loop to scrape pricing index
ns=[]
for i in pricing:
    try:
        print(i.text)
        x = (i.text.split("$")[1]).split("/")[0]
        ns.append(x)
    except:
        pass
ns
y = (yearly[0].text.split("$")[1]).split("*")[0]
ns.append(y)
ns

$3/trip
$15/day

['3', '15', '15']

In [48]:
#Creating New_york Dataframe
z =["Customer","Customer","Subscriber"]
#Newyork_df["member_type"]=z
#original = pd.DataFrame({})
Newyork_df = pd.DataFrame({"member_type":z, "plan":nn, "amount":ns})
#Newyork_df = pd.concat([original, additional], axis=1)
Newyork_df = Newyork_df.assign(location_id=4)
Newyork_df

  member_type               plan amount  location_id
0    Customer        Single Ride      3            4
1    Customer           Day Pass     15            4
2  Subscriber  Annual Membership     15            4

In [49]:
# Rearranging columns
Newyork_df = Newyork_df [["location_id","member_type","plan","amount"]]
Newyork_df

   location_id member_type               plan amount
0            4    Customer        Single Ride      3
1            4    Customer           Day Pass     15
2            4  Subscriber  Annual Membership     15

<b>Dataframe for each City Price Index<b>

In [50]:
# Create a DF of Toronto, Vancouver, Boston, & New York
city_bike = [Toronto,Vancouver_df,boston_df,Newyork_df]
price_index = pd.concat(city_bike)
price_index = pd.DataFrame(price_index)
price_index = price_index.reset_index(drop=True)
price_index

    location_id            member_type                   plan amount
0             1          Annual Member      Annual Membership     99
1             1          Casual Member    72 HOUR ACCESS PASS     15
2             1          Casual Member    24 HOUR ACCESS PASS      7
3             1          Casual Member        Single Trip For   3.25
4             2           24 Hour Pass           24 Hour Pass     12
5             2            30 Day Pass            30 Day Pass     25
6             2  365 Day Pass Standard  365 Day Pass Standard    129
7             2      365 Day Pass Plus      365 Day Pass Plus    159
8             3               Customer     Monthly Membership     20
9             3             Subscriber      Annual Membership     10
10            3             Subscriber      Annual Membership   8.25
11            4               Customer            Single Ride      3
12            4               Customer               Day Pass     15
13            4             Subscriber      Annual Membership     15

In [62]:
price_index["member_type"] = price_index['member_type']\
            .replace({'24 Hour Pass': '24 Hour',
                    '30 Day Pass': '90 Day',
                    '365 Day Pass Standard':'365 Standard',
                     '365 Day Pass Plus':'365 Plus'})

price_index

    location_id    member_type                   plan amount
0             1  Annual Member      Annual Membership     99
1             1  Casual Member    72 HOUR ACCESS PASS     15
2             1  Casual Member    24 HOUR ACCESS PASS      7
3             1  Casual Member        Single Trip For   3.25
4             2        24 Hour           24 Hour Pass     12
5             2         90 Day            30 Day Pass     25
6             2   365 Standard  365 Day Pass Standard    129
7             2       365 Plus      365 Day Pass Plus    159
8             3       Customer     Monthly Membership     20
9             3     Subscriber      Annual Membership     10
10            3     Subscriber      Annual Membership   8.25
11            4       Customer            Single Ride      3
12            4       Customer               Day Pass     15
13            4     Subscriber      Annual Membership     15

In [63]:
# create csv
price_index.to_csv("pricing_index.csv", index=False)