In [4]:
import pandas as pd
import os
from sqlalchemy import create_engine
from config import conn_string

In [5]:
# create locations
locations = [{"location_id": 1,"city":"Toronto", "country":"Canada" }, 
             {"location_id": 2,"city":"Vancouver", "country":"Canada"},
             {"location_id": 3,"city":"Boston", "country":"USA"},
             {"location_id": 4,"city":"New York", "country":"USA"}
            ]

df = pd.DataFrame(locations)
df.set_index("location_id", inplace=True)
df

                  city country
location_id
1              Toronto  Canada
2            Vancouver  Canada
3               Boston     USA
4             New York     USA

In [6]:
cnx = f'postgresql://{conn_string}'
engine = create_engine(cnx)